%h1 Site Admin
%br	
  -# /site_admin/front_page
  = link_to 'Front Page Manager', front_grid_manage_path
%br	
  = link_to 'Add Vendor', new_merchant_vendor_path
%br	
  = link_to 'Add Advertising Deal', new_promotion_path(:promotion_type => Promotion::AD)
%br	
  = link_to 'add Affiliate Deal', new_promotion_path(:promotion_type => Promotion::AFFILIATE)
%br/	
%h1 ADVANCED AREA
= link_to 'Review Vendor Promotions', promotions_path
%br 
= link_to 'Add Metro Area', new_metro_path
%br	
  = link_to 'User Admin', manage_users_path
%br	
  = link_to 'Merchant Admin', merchant_vendors_path
