%h1 Site Admin
%br	
  = link_to 'Front Page Manager', manage_promotions_path
%br	
  = link_to 'New Advertising Deal', new_promotion_path(:promotion_type => Promotion::AD)
%br	
  = link_to 'New Affiliate Deal', new_promotion_path(:promotion_type => Promotion::AFFILIATE)
%br 
  = link_to 'New Blog Post', new_blog_post_path
%br 
  = link_to 'Show All Blog Posts', blog_posts_path
%br/	
%h1 ADVANCED AREA
= link_to 'Review Vendor Promotions', promotions_path
%br 
= link_to 'New Metro Area', new_metro_path
%br	
  = link_to 'User Admin', manage_users_path
%br	
  = link_to 'Merchant Admin', merchant_vendors_path
