.container
  .row-fluid
    .span3
      .sidebar-nav
        .well{:style => 'padding:0;'}
          %ul.nav.nav-list
            %li.nav-header Main
            %li
              = link_to 'Front Page Manager', manage_promotions_path
            %li
              = link_to 'New Advertising Deal', new_promotion_path(:promotion_type => Promotion::AD)
            %li
              = link_to 'New Affiliate Deal', new_promotion_path(:promotion_type => Promotion::AFFILIATE)
            - if current_user.has_role?(Role::SALES_ADMIN)
              %li
                = link_to 'New Local Deal', new_promotion_path(:promotion_type => Promotion::LOCAL_DEAL)
            %li
              = link_to 'New Blog Post', new_blog_post_path
            %li
              = link_to 'New Video', new_video_path
            %li
              = link_to 'Manage Blog Posts', blog_posts_path
            %li
              = link_to 'Manage Videos', videos_path                  
            - if current_user.has_role?(Role::SUPER_ADMIN)
              %li.nav-header Advanced Area
              %li
                = link_to 'Review Vendor Promotions', promotions_path
              %li
                = link_to 'Manage Curators', curators_path
              %li
                = link_to 'Manage Metro Areas', metros_path
              %li
                = link_to 'Manage Users', manage_users_path
              %li
                = link_to 'Manage Merchants', merchant_vendors_path
    .span9
      .row-fluid
        .span12.column
          .box
            %h4.box-header.round-top Form Control States
            .box-container-toggle
              .box-content
                %form.form-horizontal
                  %fieldset
                    %legend
                      %h3 Form Control States
                    .control-group
                      %label.control-label Focused Input
                      .controls
                        %input.input-xlarge.focused{:type => 'text', :value => 'This is focused'}
                    .control-group
                      %label.control-label Uneditable input
                      .controls
                        %span.input-xlarge.uneditable-input Some value here
                    .control-group
                      %label.control-label Focused Input
                      .controls
                        %input.input-xlarge.focused{:type => 'text', :value => 'This is focused'}
                    .control-group.warning
                      %label.control-label Input with warning
                      .controls
                        %input{:type => 'text'}
                        %span.help-inline Something may have gone wrong
                    .control-group.error
                      %label.control-label Input with error
                      .controls
                        %input{:type => 'text'}
                        %span.help-inline Please correct the error
                    .control-group.success
                      %label.control-label Input with success
                      .controls
                        %select
                          %option 1
                          %option 2
                          %option 3
                          %option 4
                        %span.help-inline Woohoo!