.about-page-container
  .row
    .large-12.columns
      %center
        %h1 Bitcoin News
  .row
    = render :partial => 'shared/flash_messages'
  .row.about-page
    .large-12.columns
      .large-4.columns
        #bitcoin_widget_container
        %script{:src => "https://cryptocoinsnews.com/widget/bitcoin_widget.js.php", :type => "text/javascript"}
      .large-8.columns
        %ul
          %li= link_to 'Cryptocoins News', 'https://www.cryptocoinsnews.com/', :target => "_blank"
          %li 
            = link_to 'https://coinbase.com/?r=52a4f5eb8f841ddfd9000099&utm_campaign=user-referral&src=badge' do
              = image_tag 'https://coinbase.com/assets/badges/badge1.png', :style => "width:128px;height:128px"
          %li
            = link_to 'https://bitcoin-trader.biz/?ref=FeuerFrei' do
              = image_tag "https://bitcoin-trader.biz/banners/affiliates/5.gif", :style => "width:728;height:90;border:0"
