%h1 FAR BEYOND YOUR AVERAGE DEALS SITE
%p Reach the lucrative market segment of active lifestyle male professionals in your area. Targeting a discriminating male audience gives you several advantages when it comes to brand loyalty and repeat business. Most deal sites struggle with attracting return customers for your business, on the other hand, Machovy was designed with customer loyalty as a main priority. 

= image_tag "Icon_customer_loyalty.png"
%h2 More Loyal customers
%p Men tend to be more loyal to brands after the initial purchase than women do. This uncanny male trait, combined with special blend of online merchandising, will keep sales coming back to you every time.

= image_tag "icon_revenue_share.png"
%h2 Earn more Revenue on every deal
%p No one knows your business better than you do, we heavily factor your revenue share expectations when setting our commission for a particular deal. 

= image_tag "icon_sales_marketing.png"
%h2 Think of us as your Marketing & Sales Partner
%p We’ve got writing professionals on staff to perfect your sales pitch and capture the right audience for your service or product. Just supply us with the deal content, a few snazzy photos, along with the deal price the full retail value and we’ll take care of the rest. Our staff of caffeinated deal purveyors will review your submission and get back to you within two business days. If your deal is approved, we’ll get it posted right away and contact you with a tailored marketing strategy for your product or service. It’s that easy!

= image_tag "icon_norush.png"
%h2 A sense of urgency without the rush
%p Vouchers for your deal get sold based on Machovy’s unique merchandising system. Gone are the days when you only get 24 hours to sell followed by a mad rush at your doors. At Machovy, your deal will be available for as long as you want it to be, or when you’ve sold out all your vouchers.

= image_tag "icon_local.png"
%h2 Always local 
%p Our audience is hungry for new and unique products and services that Big Box Stores simply don’t deliver. Your deals are promoted to customers in your community who are looking for businesses like yours. 

%h2 No strings attached...
%p Got a great idea of a new product or service? (or even a new business?) Offer it it on Machovy first.  Listing your deals are always  free and a low risk way of testing the market before making big investments or big shifts in your business. 

%h2 No Limits
%p As long as it’s awesome (and legal), go for it!

%h2 Advertising, yes, we have that too!
%p Contact Us for the most competitive rates on the web.