.about-page-container
  .row
    .large-12.columns
      %center
        %h1 Machovy Insider
  .row
    = render :partial => 'shared/flash_messages'
  .row.about-page
    .large-12.columns
    %h3 Welcome to the Machovy Insider series; click below to select an episode
    .panel
      -# Link to each episode, using en.yml values; views are named according to the generated "slug"
      %h2= link_to I18n.t('girls-gone-wild'), insider_path(:episode => I18n.t('girls-gone-wild').parameterize)
      %h2= link_to I18n.t('insider-paul'), insider_path(:episode => I18n.t('insider-paul').parameterize)
      %h2= link_to I18n.t('insider-pudding'), insider_path(:episode => I18n.t('insider-pudding').parameterize)
      %h2= link_to I18n.t('insider-animal-control'), insider_path(:episode => I18n.t('insider-animal-control').parameterize)
      %h3= link_to 'Furry haters gonna hate...', 'http://abc7.com/news/furry-convention-evacuated-after-chlorine-gas-leak/425997/'
  .row
    %br
    %br
    %center
      %a{:href => "http://www.frontsight.com/landingpg.asp?BannerID=6", :title => "firearms training"}
        %img{:src => "http://www.frontsight.com/Images/Banners/bannera468.gif", :target => "_blank", :alt => "Front Sight - Self Defense and Personal Safety", :width => "468", :height => "60", :border => "0", :title => "Front Sight"}
