%h1 Recent Orders
%table.table.zebra-striped
  %tr
    %th Date
    %th User
    %th Promotion
    %th Quantity
    %th Total
  - @orders.each do |order|
    %tr
      %th= I18n.l order.created_at, :format => :long
      %th= order.user.email
      %th= order.promotion.title
      %th= order.quantity
      %th= number_to_currency(order.total_cost)
