.span3
  = f.label :name
  %div
    = f.text_field :name
  = f.label :url
  %em
    (Optional)
  %div 
    = f.text_field :url
  = f.label :facebook
  %em
    (Optional)
  %div 
    = f.text_field :facebook
  = f.label :phone
  %div 
    = f.text_field :phone, :placeholder => "(###) 555-1212", :maxlength => 14
  = f.label :address_1
  %div 
    = f.text_field :address_1
  %em
    (Optional)
  %div
    = f.text_field :address_2
  = f.label :city
.span3
  %div
    = f.text_field :city
  = f.label :state
  %div
    = f.text_field :state, :size => 2, :maxlength => 2, :placeholder => "PA"
  = f.label :zip
  %div
    = f.text_field :zip, :maxlength => 10
    
