.space
.row-fluid
  .span7
    .sign-in-title
      %h4= I18n.t('merchant_signup')  
    .sign-in-body
      = render :partial => 'vendor_header'
  .span5
    .space.hidden-desktop
    .sign-in-title
      %h4 Merchant Signup
    .sign-in-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = render :partial => 'shared/flash_messages'
        - resource.build_vendor unless resource.vendor
        = f.fields_for :vendor do |v|
          %div
            %p <strong>Business Information</strong>
          = v.text_field :name, {:placeholder => 'Business Name'}
          = v.text_field :phone, :placeholder => "Phone (###) 555-1212", :maxlength => 14
          = v.text_field :address_1, {:placeholder => 'Address Line 1'}
          = v.text_field :address_2, {:placeholder => 'Address Line 2 (Optional)'}
          = v.text_field :city, {:placeholder => 'City'}
          = v.text_field :state, :size => 2, :maxlength => 2, :placeholder => "State"
          = v.text_field :zip, {:placeholder => 'Zip Code'}
          = v.text_field :url, {:placeholder => 'Your Website (Optional)'}
          = v.text_field :facebook,{:placeholder => 'Facebook URL (Optional)'}
          .space
          %p <strong>Sign Up</strong>
          = f.email_field :email, {:placeholder => 'Email'}
          = f.password_field :password, {:placeholder => 'Password'}
          = f.password_field :password_confirmation, {:placeholder => 'Password Confirmation'}  
        .sign-in-footer
          = f.submit "Sign up", :class => "btn btn-danger"
.push

