.container
  .space-large
  .row
    .span6
      .sign-in-title
        %h4 Not the usual deals site  
      .sign-in-body
        - if @is_merchant
          #merchant-sidebar
            = render :partial => 'vendor_header'
    .span6
      .sign-in-title
        %h4= @signup_message
      .sign-in-body
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = devise_error_messages!
          - if @is_merchant
            - resource.build_vendor unless resource.vendor
            = f.fields_for :vendor do |vendor_form|
              = render :partial => 'vendor', :locals => { :f => vendor_form }
          = f.label :email
          %div
            = f.email_field :email
          = f.label :password
          %div
            = f.password_field :password
          = f.label :password_confirmation
          %div
            = f.password_field :password_confirmation  
          .sign-in-footer
            = f.submit "Sign up", :class => "btn btn-danger"
.push

