You have a friend in Machovy -- and apparently also in #{@certificate.user.email}. They've sent you a gift certificate for #{number_to_currency(@certificate.amount)} #{I18n.t('macho_bucks')}, to spend as you please at Machovy.com.
The "#{I18n.t('my_orders')}" page will show your #{I18n.t('macho_bucks')} balance. Click #{link_to 'here', about_macho_bucks_url} for more details on the program.
In a nutshell, #{I18n.t('macho_bucks')} are store credits you can use toward any purchase on Machovy.com.
#{link_to 'Log in', new_user_session_url} soon to spend your #{I18n.t('macho_bucks')}.
