The Gift Certificate for #{number_to_currency(@certificate.amount)} #{I18n.t('macho_bucks')}, purchased by #{@certificate.user.email}, has been updated.
The recipient has been changed from #{@old_email} to #{@certificate.email}.
