Thank you for your order!
You recently purchased #{number_to_word(@order.quantity)} of these: #{@order.promotion.title} for #{number_to_currency(@order.total_cost)}
- if @order.shipping_address_required?
  Shipping instructions - #{@order.shipping_address}.
- else
  Please pick up your order at #{@order.promotion.vendor.name}, #{@order.promotion.vendor.map_address}.

- @order.vouchers.each do |voucher|
  %p== Voucher #{voucher.uuid}
- if !@order.promotion.voucher_instructions.blank?
  Voucher instructions
  @order.promotion.voucher_instructions
- if !@order.promotion.limitations.blank?
  Fine Print
  @order.promotion.limitations
.page
