<h1>Site Admin
	</h1>
	
	<br/><hr/><br/>
	<%=link_to 'Front Page Manager', '/site_admin/front_page'%>

	<br/><hr/><br/>
	<%=link_to 'add Vendor', '/vendors/new'%>
	<br/><hr/><br/>

	<%=link_to 'add Local Deal', '/promotions/new?type=local'%>
	<br/><hr/><br/>


	<%=link_to 'add advertising deal', '/promotions/new?type=ad'%>
	<br/><hr/><br/>

	<%=link_to 'add Affiliate Deal', '/promotions/new?type=affiliate'%>
	<br/><hr/><br/>

	<%=link_to 'Reports', '/site_admin/reports'%>
	<br/><hr/><br/>



<h1>ADVANCED AREA</h1>
	<%=link_to 'add Metro Area', '/site_admin/add_metro'%>
	<br/><hr/><br/>

	<%=link_to 'User Admin', '/site_admin/user_admin'%>
	<br/><hr/><br/>

