#content-header
  %h1== Monitored Stripe Events #{@event_type}
.container-fluid
  = render :partial => 'shared/flash_messages'
  .row-fluid
    .span12
      .widget-box
        .widget-title
          %h5
            Stripe Events
        .widget-content.nopadding
          %center
            = will_paginate
            = page_entries_info
          %table.table.table-bordered
            %thead
              %tr
                %th.span2 User
                %th.span3 Type
            %tbody
            - idx = (@stripe_logs.current_page - 1) * StripeLog.per_page + 1  
            - @stripe_logs.each do |log|
              %tr
                - if log.user.nil?
                  %td Unknown
                - else
                  %td= log.user.email
                %td= link_to log.event_type, stripe_log_path(log)
          %center= will_paginate
