<%= javascript_include_tag "ckeditor/init" %>

<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
	<%= f.cktext_area :body,  :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Easy' %>
  </div>
  <div class="field">
    <%= f.label :curator_id %><br />
    <%= f.number_field :curator_id %>
  </div>
  <div class="field">
    <%= f.label :posted_at %><br />
    <%= f.datetime_select :posted_at %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :metro_id %><br />
    <%= f.number_field :metro_id %>

  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
