= link_to '<<', '#', :onclick => "update_blog_weight(#{id}, -#{page}); return false", :class => 'btn tiny'
= link_to '<', '#', :onclick => "update_blog_weight(#{id}, -#{step}); return false", :class => 'btn tiny'
= link_to '>', '#', :onclick => "update_blog_weight(#{id}, #{step}); return false", :class => 'btn tiny'
= link_to '>>', '#', :onclick => "update_blog_weight(#{id}, #{page}); return false", :class => 'btn tiny'
