= render :partial => 'shared/flash_messages'
.admin-page-container
  .row
    .large-12.columns
      %h1 Edit Blog Post
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      = javascript_include_tag "ckeditor/init"
      = form_for @blog_post do |f|
        = render :partial => 'shared/error_messages', :locals => { :errors => @blog_post.errors, :name => 'Blog Post' }
        = render :partial => 'blog_fields', :locals => { :f => f }
        = f.submit 'Update Blog Post', :class => 'btn btn-danger'
