<h1>Listing blog_posts</h1>

<table border = 1px>
  

<% @blog_posts.each do |blog_post| %>
  <tr >
    <td width=400>----------------------------------------------------<br><%= blog_post.title %></td>
  </tr>
  <tr>
    <td><%= truncate(blog_post.body, :length =>100).html_safe %></td>
    <td><%= blog_post.posted_at.strftime ("%m/%d/%Y") %> by <%= blog_post.curator_id %> </td>
</tr>
<tr>
    <td>Weight <%= blog_post.weight %></td>
    <td>metro: <%= blog_post.metro_id %></td>
</tr><tr>
    <td><b><%= link_to 'Show', blog_post %>&nbsp;&nbsp;<%= link_to 'Edit', edit_blog_post_path(blog_post) %>&nbsp;&nbsp;&nbsp;<%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  
<% end %>
</table>

<br />

<%= link_to 'New Blog post', new_blog_post_path %>
