.blogpost-page-container
  .row
    .large-12.columns
      %h1= @blog_post.title
  .row.blogpost-page
    .row
      .large-12.columns
        %p 
          - if @blog_post.authored?
            Posted by: 
            %strong
              = @blog_post.curator.name
          = @blog_post.updated_at.try(:strftime, ApplicationHelper::DATE_FORMAT)
    .row
      .large-9.columns
        .row
          .large-12.columns.post
            - if !@blog_post.associated_image.file.nil?
              = image_tag @blog_post.associated_image_url(:blog_content_photo).to_s
            .content
              = @blog_post.body.html_safe
              .row
                .large-12.columns
                  %fb:comments{:numposts => "4", :title => "Comments", :simple => "1", :href => "https://#{request.host+request.fullpath}".to_s}
                  .twshare
                    %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "https://twitter.com/share"} Tweet
                    %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
                  .fshare
                    %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
                    %fb:like{:layout => "button_count", :show_faces => "false"}

              -# Removed Video from Blog Post
              - if false and !@videos.empty?
                .flex-video
                  - @videos.each do |video|
                    = video.title
                    %iframe{:width => "480", :height => "295", :frameborder => "0", :allowfullscreen => "true", |
                            :src => video.destination_url} |   
                    = video.caption
      .large-3.columns.author-recommend
        - if @blog_post.authored?
          .row.author
            .image
              = link_to(image_tag(@blog_post.curator.picture_url(:blog_contributor_photo).to_s), curator_path(@blog_post.curator))
            .large-12.small-12.columns.name
              .large-10.small-10.columns
                %h4== #{link_to @blog_post.curator.name, curator_path(@blog_post.curator)} 
                %p Recommended Products
              .large-2.small-2.columns
                %i.icon-angle-down.icon-2x.right
        .row.recommended-products
          .large-12.small-12.columns
            - @promotions.each do |promotion|
              = render :partial => 'shared/promotion_column', :locals => { :promotion => promotion }
