%p#notice= notice
%h1= @blog_post.title
%p= @blog_post.body.html_safe
%hr
  %p
    %b Curator:
    = image_tag @blog_post.curator.picture_url.to_s
    = @blog_post.curator.name
- @promotions.each do |promotion|
  = render :partial => 'promotions/thumbnail', :locals => { :promotion => promotion }
