.local
  - promotion = Promotion.find(content)
  .image
    - if promotion.zombie?
    .zombie_image
      %img(src="/assets/sold_out.png")
    = link_to image_tag(promotion.teaser_image_url(:product_front_page).to_s), promotion_path(promotion), :style => 'opacity:0.4;' 
    - else
      = link_to image_tag(promotion.teaser_image_url(:product_front_page).to_s, :style => 'width:100%;'), promotion_path(promotion)
  .content
    .desc
      %h3= truncate(sanitize(promotion.title), :length => 42)
      %p.bigdesc= truncate(promotion.padded_description, :length => 140)
    %p.merchant Provided by: New Home Construction
  .menu.cf
    .currency
      .old-price
        %p 100.00
      .price= number_to_currency(promotion.price)
    .promotion-icons
      %ul
        %li
          %a
            %i.icon-file-alt.icon-2x
        %li
          %a
            %i.icon-share-alt.icon-2x