- if !promotion1.nil?
  .skinnybox.box.tallbox.isotope-item.item
    .imgcroplittle
      - if promotion1.ad?
        = link_to image_tag(promotion1.teaser_image_url(:product_front_page).to_s), promotion1.destination 
      - else
        = link_to image_tag(promotion1.teaser_image_url(:product_front_page).to_s), promotion_path(promotion1)
        .item-title= truncate(sanitize(promotion1.title), :length => 28)
    - if !promotion2.nil?
    .imgcroplittle
      - if promotion2.ad?
        = link_to image_tag(promotion2.teaser_image_url(:product_front_page).to_s), promotion2.destination      
      - else
        = link_to image_tag(promotion2.teaser_image_url(:product_front_page).to_s), promotion_path(promotion2)
          -#.item-title= truncate(sanitize(promotion2.title), :length => 28)
