.affiliate
  -# Note order dependence! Check for banner first, because a banner is an ad
  - if promotion.banner?
    = raw promotion.destination
  - elsif promotion.ad?
    = link_to image_tag(promotion.teaser_image_url(:product_front_page).to_s), promotion.destination, :target => '_blank' 
  - else
    %a{:href => promotion_path(promotion)}
      .front-hover
        %img{:src => promotion.teaser_image_url(:product_front_page).to_s}
        .mask
          %p 
            %i.icon-plus-sign 
            %br
            Deals. No Limits.
    .item-title= truncate(sanitize(promotion.title), :length => 28)
    .menu.cf
      .logo
        - if promotion.affiliate? and !promotion.affiliate_logo.nil?
          = image_tag promotion.affiliate_logo
      .promotion-icons
        %ul
          %li
            = link_to promotion_path(promotion) do
              %i.icon-file-alt.icon-2x