<div id="post-header-panel">
	<div class="two-third">
		<h1>if you think it's  <span class="colored-text">awesome</span> chances<br>
	    are we've already found it...</h1>
		<h4> Machovy. Deals. No Limits. </h4>
		
		
	</div>
	<div class="one-third last">
		<div class="post-header-button">
			<a href="#" class="button big round">Free Membership</a>
		</div>
	</div>
</div>


	<%= render 'categories/index'%>		
	
	
<div class="portfolio-container">
	<ul id="grid-portfolio" class="portfolio-items">


		<% @promotions.each do |promotion| 
			if promotion.ad?%>
		<%#=promotion.destination%>
			<%else
			%>


			<li data-categories="animation">
			<div class="view view-tenth">
				<a  href="<%=promotion_path(promotion)%>"><%= image_tag promotion.teaser_image_url(:teaser).to_s %></a>
				<div class="mask" id="<%= promotion.id %>">
				    <h2><%= sanitize(promotion.title)%></h2>
				    <p><%=truncate(promotion.description, :length => 120)%></p>
	     		   <a href="<%=promotion_path(promotion)%>" class="info">GET IT</a>
										   
				 
				</div>	
			</div>
			</li>

		<% 
		    end	
		  end %>




	</ul>
	<!--GRID PORTFOLIO ENDS -->
</div>



<%  @blog_posts.each_with_index do |blogpost, index| %>
<div class="one-fourth<%if index == 2 %> last<%end%>">
	<h4 class="colored-text "> <a href = "<%=blog_post_path(blogpost)%>"> <%=truncate(blogpost.title, :length => 25)%></a></h4>
	<p>
	<%=truncate(blogpost.body, :length => 200).html_safe %>
	</p>
</div>

<%end%>


<div id="get-in-touch">
	<div class="two-third">
		<h2>FEATURE YOUR BUSINESS ON MACHOVY!</h2>
		<h4 class="oblique-font">Submit a deal or a featured advertisement</h4>
	</div>
	<div class="one-third last">
		<div class="get-in-touch-button-holder">
			<a href="#" class="button big round">Contact Us</a>
		</div>
	</div>
</div>
<ul class="clients">
	<% @ads.each do |adpromo|%>
	<li><a href="<%=adpromo.destination%>" target="_blank">
		 <%= image_tag adpromo.teaser_image_url(:teaser).to_s %></a></li>
	<%end%>
</ul>
