<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @career.title %>
</p>

<p>
  <b>Description:</b>
  <%= @career.description %>
</p>

<p>
  <b>Expiration:</b>
  <%= @career.expiration %>
</p>

<p>
  <b>Email contact:</b>
  <%= @career.email_contact %>
</p>

<p>
  <b>Email subject:</b>
  <%= @career.email_subject %>
</p>


<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
