.field
  = f.label :name
  %br/
  = f.text_field :name
.field
  = f.label :title
  %br/
  = f.text_field :title, :size => Curator::MAX_TITLE_LEN
.field
  = f.label :weight
  %br/
  = f.number_field :weight, :minimum => 1
.field
  = f.label :twitter, 'Twitter tag (include leading @)'
  %br/
  = f.text_field :twitter, :size => Curator::MAX_TWITTER_LEN
.field
  = f.label :picture
  %br/
  = f.file_field :picture
.field
  = f.label :remote_picture_url, "or image URL"
  %br/
  = f.text_field :remote_picture_url, :title => I18n.t('ensure_image')
.field
  = f.label :bio
  %br/
  = f.text_area :bio, :size => "60x6"
