.curator-page-container
  .row
    .large-12.columns
      %h1== #{I18n.t('curators')} <small>Lifestyle guidance</small>
  .row.curator-page
    .row
      .large-12.columns
        %h3 Welcome to the Machovy Feedback Forum
        %p Now, we know you're a genius... but it's just possible someone else had the same idea. And maybe some people even though they obviously know the best place for men's interest shopping -- might not be full-on geniuses in other areas. If so, feel free to (be)rate them. You can see the highest-rated ideas on the right. Will yours make the cut?
    .row
      - @curators.each do |curator|
        .large-4.columns
          %ul.mentor-block
            %li.mentor-title= link_to(image_tag(curator.picture_url(:product_front_page).to_s), curator_path(curator))
            - if admin_user?
              %li.mentor-subtitle
                = link_to curator.name, edit_curator_path(curator)
                = button_to 'Delete', curator, method: :delete, data: { confirm: 'Are you sure?' }
            -else
              %li.mentor-subtitle
                = link_to curator.name, curator_path(curator)
            %li.mentor-desc= curator.bio
            - curator.recent_posts.each do |post|
              %li.mentor-bullet
                = link_to post.title, blog_post_path(post)

      - if admin_user?        
        %br/
        = link_to 'New Curator', new_curator_path