<h1>Listing curators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Bio</th>
    <th>Twitter</th>
    <th>User</th>
    <th>Metro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @curators.each do |curator| %>
  <tr>
    <td><%= curator.name %></td>
    <td><%= curator.picture %></td>
    <td><%= curator.bio %></td>
    <td><%= curator.twitter %></td>
    <td><%= curator.user_id %></td>
    <td><%= curator.metro_id %></td>
    <td><%= link_to 'Show', curator %></td>
    <td><%= link_to 'Edit', edit_curator_path(curator) %></td>
    <td><%= link_to 'Destroy', curator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curator', new_curator_path %>
