<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @curator.name %>
</p>

<p>
  <b>Picture:</b>
  <%= @curator.picture %>
</p>

<p>
  <b>Bio:</b>
  <%= @curator.bio %>
</p>

<p>
  <b>Twitter:</b>
  <%= @curator.twitter %>
</p>

<p>
  <b>User:</b>
  <%= @curator.user_id %>
</p>

<p>
  <b>Metro:</b>
  <%= @curator.metro_id %>
</p>


<%= link_to 'Edit', edit_curator_path(@curator) %> |
<%= link_to 'Back', curators_path %>
