= render :partial => 'shared/flash_messages'
.container
  .row-fluid
    .span3
      = render :partial => 'shared/admin_navigation'
    .span9
      .row-fluid
        .span12.column
          .box
            %h4.box-header.round-top Form Control States
            .box-container-toggle
              .box-content
                .form-horizontal
                  %fieldset
                    %legend
                      %h3 Manage Users
                    .row-fluid
                      .span12
                        - User.order(:email).each do |user|
                          .row-fluid
                            = user.email
                            -# Cannot edit a SuperAdmin
                            - if user.has_role?(Role::SUPER_ADMIN)
                              %em Super Admin
                            -else
                              = form_for user, :method => :put, :url => promote_user_path(user) do |f|
                                = f.collection_select(:role_ids, Role.all, :id, :name, {:selected => user.role_ids, :include_blank => ''})
                                = f.submit 'Update Role'
