= render :partial => 'shared/flash_messages'
.container
  .row-fluid
    .form-horizontal
      %fieldset
        %legend
          %h3 Manage Users
        .row-fluid
          .span12
            - User.order(:email).each do |user|
              .row-fluid
                = user.email
                -# Cannot edit a SuperAdmin
                - if user.has_role?(Role::SUPER_ADMIN)
                  %em Super Admin
                -else
                  = form_for user, :method => :put, :url => promote_user_path(user) do |f|
                    = f.collection_select(:role_ids, Role.all, :id, :name, {:selected => user.role_ids, :include_blank => ''})
                    = f.submit 'Update Role'
        %legend
          %h3 Unconfirmed Users
          .row-fluid
            .span12
              %ol
                - User.order(:email).each do |user|
                  - if !user.confirmation_token.nil?
                    - if user.unconfirmed_email.nil?
                      %li== #{user.email} (#{user.confirmation_token})
                    - else
                      %li== #{user.email} (#{user.confirmation_token}) new email: #{user.unconfirmed_email}
