%h3== Thanks again for your order from #{@order.vendor.name} (#{@order.promotion.title}, on #{@order.created_at.try(:strftime, '%b %d, %Y')})
= form_for @user, :method => :put, :url => feedback_user_path(@user, :order_id => @order) do |f|
  = render :partial => 'shared/error_messages', :locals => { :errors => @user.errors, :name => 'Feedback' }
  -# @user.feedbacks.build(:order_id => @order.id) if @user.feedbacks.empty?
  = f.fields_for :feedbacks do |feedback|
    = feedback.hidden_field :order_id
    .field
      = feedback.label :stars, 'Please rate your satisfaction on a scale from 1 to 5 stars (where 5 is best)'
      %br/
      = feedback.number_field :stars, :min => 1, :max => 5, :value => 5
    %p Would you recommend this to your friends? (Or wish it on your ex-wife?)
    .field
      = feedback.radio_button :recommend, 'true', :checked => true
      = feedback.label 'recommend_true', 'Yes'
      = feedback.radio_button :recommend, 'false'
      = feedback.label 'recommend_false', 'No'
    .field
      = feedback.label :comments, 'Is there anything else you want us to know?'
      %br/
      = feedback.text_area :comments, :size => "60x12"
  .actions
    = f.submit 'Give Feedback'
