.field
  = f.label :vendor_id
  %br
  = f.collection_select :vendor_id, @vendors, :id, :name 
  %br
  %br
  = link_to 'New Vendor', new_merchant_vendor_path, :class => 'btn tiny success'
.field
  = f.label :title
  %br/
  = f.text_field :title, :size => Coupon::MAX_TITLE_LEN
.field
  = f.label :value
  %br/
  = f.text_field :value
.field
  = f.label :description
  %br/
  = f.text_area :description, :size => "60x12"
- if f.object.coupon_image.file.nil?
  = I18n.t('no_image') unless f.object.new_record?
- else
  = image_tag f.object.coupon_image_url(:product_thumb).to_s
.field
  = f.label :coupon_image
  %br/
  = f.file_field :coupon_image
.field
  = f.label :remote_coupon_image_url, "or image URL"
  %br/
  = f.text_field :remote_coupon_image_url, :title => I18n.t('ensure_image')
