.admin-page-container
  .row
    .large-12.columns
      %h1 Edit Coupons
  .row
    = render :partial => 'shared/flash_messages'
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      = form_for @coupon, :html => { multipart: true } do |f|
        = render :partial => 'shared/error_messages', :locals => { :errors => @coupon.errors, :name => 'Coupon' }
        = render :partial => 'fields', :locals => { :f => f }
        .actions
          = f.submit 'Update Coupon'
