%h1= @coupon.title
%h3== Another valuable coupon from #{@coupon.vendor.name}
- if !@coupon.value.nil?
  %em= number_to_currency(@coupon.value)
- if !@coupon.description.nil?
  %p= @coupon.description
%br/
%br/
= image_tag @coupon.coupon_image_url(:product_front_page) , :size => '470x470'
- if admin_user?
  == External link: #{coupon_url(@coupon)}
