.admin-page-container
  .row
    .large-12.columns
      %h1= @video.title
      %em= @video.curator.name
  .row
    = render :partial => 'shared/flash_messages'
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      .flex-video
        %iframe{:width => "640", :height => "385", :frameborder => "0", :allowfullscreen => "true", :src => @video.destination_url}  
      %p= @video.caption
      %br/
      = link_to "Edit", edit_video_path(@video), :class => 'btn tiny'
