- promotions.each do |promotion|
  .span3.item.promotion-grid.box
    = link_to image_tag(promotion.teaser_image_url(:product_front_page).to_s), promotion_path(promotion)
    .row-fluid
      .item-title= truncate(sanitize(promotion.title), :length => 31)
      .item-sub-title
        - if !promotion.subtitle.nil?
          = truncate(sanitize(promotion.subtitle), :length => 24)
        - else
          = "An amazing find"
      .description= truncate(promotion.padded_description, :length => 60)
    .row-fluid.item-bottom-bar 
      - if promotion.deal?
        .span5
          .item-price
            %small Price
            %br
            %span.current-price
              = number_to_currency(promotion.price)
        .span7
          %span.more-details.pull-right
            = link_to "More Details", promotion_path(promotion), {:class => 'btn'}
      - else
        .item-detail.pull-right 
          %span.more-details.pull-right   
            = link_to "More Details", promotion_path(promotion), {:class => 'btn'}