%h3 General Information
%fieldset
  = f.label :metro_id
  = f.collection_select :metro_id, metros, :id, :name, {}, :class => 'small-select'
  %hr
  = f.label :title
  = f.text_field :title, :size => Promotion::MAX_TITLE_LEN, :placeholder => '"A Night to Remember"'
  = f.label :subtitle
  = f.text_field :subtitle, :size => Promotion::MAX_TITLE_LEN, :placeholder => '"Half off Sushi"'
  .row
    .large-6.columns
      = f.label :price, "Offer Price"
      = f.text_field :price, :size => 15, :placeholder => "$100"
    .large-6.columns
      = f.label :retail_value, "Original Price"
      = f.text_field :retail_value, :size => 15, :placeholder => "$200"
  %hr

  .section-container.tabs{:data => {:section => ''}}
    %section.section
      %p.title
        %a Deal Description
      .content
        %p Tell us about your product or service. We love entertaining or funny content, so be creative.  We'll have our creative staff review and revise it before we publish.
        = f.text_area :description
    %section.section
      %p.title
        %a Deal Limitations
      .content
        %p What limitations are there on this deal? Is this deal only on Tuesdays?
        = f.text_area :limitations
    %section.section
      %p.title
        %a Voucher Instructions
      .content
        %p How will our customers use their voucher?  Will they need to call and schedule a date or time with you?  Do they present it at the front desk?  Will they have to print it or just show it on their phone?  
        = f.text_area :voucher_instructions 
    %section.section
      %p.title
        %a Venue Location
      .content
        %p Do you want to display a map and address to users? If so, and it's different from your vendor address, enter it here
        = f.label :venue_name
        = f.text_field :venue_name, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
        = f.label :venue_address
        = f.text_field :venue_address, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
        = f.label :venue_city
        = f.text_field :venue_city, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
        = f.label :venue_state
        = f.text_field :venue_state, :maxlength => ApplicationHelper::STATE_LEN, :placeholder => 'PA'
        = f.label :venue_zipcode
        = f.text_field :venue_zipcode, :maxlength => ApplicationHelper::ZIP_PLUS4_LEN   
%h3= "Duration & Quantity"
%fieldset
  %h4 How many are available for sale?
  = f.label :quantity, "Don't worry if it sells out, you can always create a new promotion."
  = f.number_field :quantity, :min => 1, :value => quantity, :class => 'small-select'
  %h4 Promotion Timeline
  %p
    Your promotion will appear between these dates.  If you are not ready to start promoting your deal, chose a start date in the future. If&nbsp;you need to have it end on a specific date, the end date will be the last day your promotion will appear on machovy.
  .row
    .large-6.columns
      %label Start Date
      -# Need the date_select elements for the nested attributes to be processed correctly by the controller
        Just don't show them; create jQuery datepickers instead
      = f.date_select :start_date, { :order => [:month, :day, :year] }, { :style => 'display:none' }
      #jq_start_date
    .large-6.columns
      %label End Date
      = f.date_select :end_date, { :order => [:month, :day, :year] }, { :style => 'display:none' }
      #jq_end_date

%h3= "Voucher Details"
%fieldset
  %h4 Quantity Restrictions
  = f.label :max_per_customer, 'Maximum number sold to customer'
  %em Zero means "Unlimited", but you may want to limit this good deal to one per customer
  = f.number_field :max_per_customer, :min => 0, :class => 'small-select'
  = hidden_field_tag :promotion_strategy, strategy
  = f.label :min_per_customer, 'Minimum quantity customers have to purchase'
  -#%em For complex deals. This is almost always set to 1.
  = f.number_field :min_per_customer, :min => 1, :class => 'small-select', :disabled => true 
  %hr
  %h4 Expiration
  %p
    If your promotion is for a phyiscal product that you ship or they pick up, Select Product.  Otherwise, the voucher will either expire on a specific day (Fixed) or after some number of days (Relative).
  #promotionStrategyTab.section-container.tabs{:data => {:section => ''}}
    %section.section
      %p.title
        %a{:id => PromotionStrategyFactory::FIXED_STRATEGY}
          = PromotionStrategyFactory::FIXED_STRATEGY
      .content
        %h4 Vouchers expire on a fixed date (typically some time after the display period ends)
        %label Fixed End Date
        = date_select 'fixed', 'end_date', { :order => [:month, :day, :year], :default => { :year => fixed_date.year, :month => fixed_date.month, :day => fixed_date.day} }, { :style => 'display:none' }
        #jq_fixed_end_date
        %br/
        = label_tag :fixed_delay, I18n.t('voucher_delay')
        = number_field_tag :fixed_delay, delay_hours, :min => 0, :class => 'small-select', :title => I18n.t('delay_limitations')

    %section.section
      %p.title
        %a{:id => PromotionStrategyFactory::RELATIVE_STRATEGY}
          = PromotionStrategyFactory::RELATIVE_STRATEGY
      .content
        %h4 Vouchers expire a given number of days after purchase
        = label_tag :period
        = select_tag :period, options_for_select(RelativeExpirationStrategy::AVAILABLE_PERIODS, default_period), :class => 'small-select'
        = label_tag :relative_delay, I18n.t('voucher_delay')
        = number_field_tag :relative_delay, delay_hours, :min => 0, :class => 'small-select', :title => I18n.t('delay_limitations')

    %section.section
      %p.title
        %a{:id => PromotionStrategyFactory::PRODUCT_STRATEGY}
          = PromotionStrategyFactory::PRODUCT_STRATEGY
      .content
        %h4 This is a product (e.g., physical gift card); vouchers do not need to be redeemed
        = label_tag :sku, 'SKU/Product ID', :style => "display:inline"
        %em (Optional)
        = text_field_tag :sku
        -# Check box and radio tags don't work inside tabs, apparently!!!
        = label_tag :delivery, 'Delivery options'
        = select_tag :delivery, options_for_select(ProductStrategy::SHIPPING_OPTIONS, default_shipping)      
%h3 Commission
%fieldset
  %p
    How much will you share with Machovy?  You select how much you want to pay;  The more you share, the more we promote you.  Our fancy algorithms put you at the top of the page or put you in the queue for our curators (Mentors) to write a blog about your promotion if you are very generous.  Remember, that we pay for the credit card processing fees as well as paying our creative team to promote and market your promotion.
  = f.label :revenue_shared, "Revenue Shared (%)"
  = f.select :revenue_shared, options_for_select(share_options, share_pct.round), {}, :class => 'small-select'

%h3= "Deal Images"
%fieldset
  %h4 Upload images from your computer OR give us a URL for the image.  
  .row
    .large-4.columns
      - if f.object.teaser_image.file.nil?
        = I18n.t('no_image') unless f.object.new_record?
      - else 
        = image_tag(f.object.teaser_image_url(:product_thumb).to_s)
      = f.label :teaser_image, "Front Page (teaser)"
      = f.file_field :teaser_image#, :accept => "image/*;capture=camera"
      = f.label :remote_teaser_image_url, "or image URL"
      = f.text_field :remote_teaser_image_url, :title => I18n.t('ensure_image')
    .large-4.columns
      - if f.object.main_image.file.nil?
        = I18n.t('no_image') unless f.object.new_record?
      - else
        = image_tag(f.object.main_image_url(:product_thumb).to_s)
      = f.label :main_image, "Promotion Page Image"
      = f.file_field :main_image#, :accept => "image/*;capture=camera"
      = f.label :remote_main_image_url, "or image URL"
      = f.text_field :remote_main_image_url, :title => I18n.t('ensure_image')
    .large-4.columns
      .slideshow
        = f.fields_for :promotion_images do |slideshow_image_form|
          = render :partial => 'shared/slideshow', :locals => { :f => slideshow_image_form }
= f.submit 'Submit', :class => 'btn'