- promotions.each do |promotion|
  .span3.item.promotion-grid.box
    = link_to image_tag(promotion.teaser_image_url(:product_front_page).to_s), promotion_path(promotion)
    .row-fluid
      .item-title= truncate(sanitize(promotion.title), :length => 31)
      %br
      .item-sub-title
        - if !promotion.subtitle.nil?
          = truncate(sanitize(promotion.subtitle), :length => 24)
        - else
          = "An amazing find"
      - if session[:deals] != 'true'  # -------------------------------------------Front PAGE VIEW
        %p.description= truncate(promotion.padded_description, :length => 119)
      -else
        %p.description= truncate(promotion.padded_description, :length => 130)
    .row-fluid.item-bottom-bar 
      - if promotion.deal?
        .deal-bottom-button
          = link_to "Only " + number_to_currency(promotion.price).to_s, promotion_path(promotion)
      - else
        .deal-bottom-button
          = link_to "Check it out", promotion_path(promotion)