.field
  = f.label :slideshow_image
  %br/
  = f.file_field :slideshow_image
.field
  = f.label :remote_image_url, 'Slideshow image url'
  %br/
  = f.text_field :remote_image_url
.field
  = f.label :caption, 'Slideshow image caption'
  %br/
  = f.text_field :caption       
