%h1 Macho Bucks Administration
= render :partial => 'shared/flash_messages'
= form_tag search_macho_bucks_path, :method => :put do
  = label_tag 'email', "Find a user by email"
  = text_field_tag 'email', @user.nil? ? nil : @user.email
  = submit_tag 'Search'
- if !@user.nil?
  %h4== #{I18n.t('macho_bucks')} total: #{number_to_currency(@user.total_macho_bucks)}
  %table.table.table-condensed
    %thead
      %col{:width => "100"}/
      %col{:width => "100"}/
      %col{:width => "75"}/
      %col{:width => "300"}/
      %col{:width => "75"}/
      %tr
        %th Date
        %th Voucher
        %th Amount
        %th Notes
        %th Admin
    %tbody
      - @user.macho_bucks.each do |bucks|
        %tr
          %td= bucks.created_at.try(:strftime, '%b %d, %Y')
          - if bucks.voucher.nil?
            %td
          - else
            %td= bucks.voucher.uuid
          %td= number_to_currency(bucks.amount)
          %td= bucks.notes
          - if bucks.admin.nil?
            %td
          - else
            %td= bucks.admin.email
  %br/
  %h4 Enter new Administrative Adjustment
  = form_for MachoBuck.new do |f|
    = f.hidden_field :admin_id, :value => current_user.id
    = f.hidden_field :user_id, :value => @user.id
    .field
      = f.label :amount
      = f.text_field :amount
    .field
      = f.label :notes
      = f.text_area :notes, :size => '60x3'
    .actions
      = f.submit 'Adjust Macho Bucks'
