%footer
  .row
    .large-3.columns
      %h4 Machovy
      %ul
        %li= link_to 'Company Info', about_path
        %li= link_to 'FAQ', faq_path
        %li= link_to I18n.t('feedback_prompt'), feedback_path 
    .large-3.columns
      %h4 Social
      %ul
        %li= link_to 'Twitter', 'http://twitter.com/machovy', :target => '_blank'
        %li= link_to 'Facebook', 'http://www.facebook.com/Machovy', :target => '_blank'
    .large-3.columns
      %h4 Details
      %ul
        %li= link_to "Privacy Policy", '#', :onclick => "window.showModalDialog(\"#{ApplicationHelper::PRIVACY_POLICY_LINK}\", 'Privacy Policy', \"dialogWidth:700px;dialogHeight:600px\");"
        %li= link_to 'Terms', terms_path 
    .large-3.columns
      %h4 Merchants
      %ul
        %li= link_to 'How does it work?', get_featured_path
        %li= link_to 'Create a merchant account', new_user_registration_path
        - if !current_user.nil? and current_user.has_role?(Role::MERCHANT)
          %li= link_to 'Download the merchant contract', merchant_contract_path
  .divider
  .row.last
    %span#siteseal.pull-right
      %script{:type => 'text/javascript', :src => 'https://seal.godaddy.com/getSeal?sealID=kq161toAQ8Dv3mDQGeD3U6Tmkll8kf5hHwiZ9kdDp0O5d2323Icjrnqs50QX'}
-#.newsletter
  .row.input
    .large-8.columns
      %h4 Stay on top of what's happening with Machovy.
      %p Sign up to receive monthly highlights. Read Last Month's Edition »
    .large-4.columns
      .row.collapse
        %form{:method => 'post'}
          .small-9.columns
            %input{:type => 'text', :placeholder => 'signup@example.com'}
          .small-3.columns 
            %a.button.prefix
              Submit


- if Rails.env.production?
  :javascript
    var _gaq = _gaq || []; 
    _gaq.push(['_setAccount', "#{GOOGLE_TA}"]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })(); 

