.user-register-page-container
  .row
    .large-12.columns
      %h1
  .row
    = render :partial => 'shared/flash_messages'
  .row.user-register-page
    .large-5.columns
      .sign-in-title
        %h3 Welcome back! <strong>Log in below.</strong>
        %p.sub-title Deals. No Limits. Build your lifestyle here.
      .sign-in-body
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'new_user custom'}) do |f|
          = f.label :email
          = f.email_field :email, {:placeholder => 'Email'}
          = f.label :password
          = f.password_field :password, {:placeholder => 'Password'}
          - if devise_mapping.rememberable?
            -#= f.label :remember_me
            %label{:for => "#{resource_name}_remember_me"}
              = f.check_box :remember_me, :style => 'display:none'
              %span.custom.checkbox
              Remember me
          .sign-in-footer
            = f.submit "Sign in", {:class => 'btn small', :style => 'margin-bottom:10px;'}
            = render :partial => "devise/shared/sign_in_links"
    .large-6.columns
      .sign-in-title
        // %h3= I18n.t('create_account_action')
        %h3 Sign up with a <strong>free Machovy account!</strong>
        %p.sub-title How can we improve your lifestyle today? Let's find out!
      .sign-in-body.sign-up-block
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = f.label :email
          %p.help-block 
            Type carefully. You will be sent a confirmation email.
          = f.email_field :email, {:placeholder => 'Email'}
          = f.label :password
          %p.help-block
            = I18n.t('password_prompt').html_safe
          = f.password_field :password, {:placeholder => 'Password'}
          = f.label :password_confirmation
          = f.password_field :password_confirmation, {:placeholder => 'Password Confirmation'}
          .sign-in-footer
            = f.submit I18n.t('create_account'), {:class => 'btn small'}
            = link_to 'Merchant? Create an account here', new_user_registration_path, :class => 'btn secondary small'

