<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <div >
	  <%= f.email_field :email, :style => "height: 20px; border: 1px solid #BFBFBF; font-size: 1em; width: 20em; box-shadow: inset 0 0 1em 0 #eee; border-radius: .3em; "%></div>
<%= f.label :password %>

  <div >
	  <%= f.password_field :password , :style => "height: 20px; border: 1px solid #BFBFBF; font-size: 1em; width: 20em; box-shadow: inset 0 0 1em 0 #eee; border-radius: .3em; "%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :style => "text-transform: uppercase; color: white; background: #666; height: 20px; border: 1px solid #BFBFBF; font-size: 1em; width: 20em; box-shadow: inset 0 0 1em 0 #eee; border-radius: .3em;"%></div>
<% end %>

<%= render "devise/shared/links" %>
