%tr
  %td= v.uuid
  %td= v.status
  %td= v.valid_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
  %td= v.expiration_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
  %td= v.redemption_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
  %td= v.notes
