<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @order.description %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Amount:</b>
  <%= @order.amount %>
</p>

<p>
  <b>Stripe card token:</b>
  <%= @order.stripe_card_token %>
</p>

<p>
  <b>Promotion:</b>
  <%= @order.promotion_id %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Voucher:</b>
  <%= @order.vouchers %>
</p>
<p>
  <b>Voucher QR:</b>
	<img src = "<%=url_for @order.vouchers.first %>.png">
	<%# FIX THIS SO WE SEND IT :format to URL_FOR %>
</p>


<%= link_to 'Edit', edit_merchant_order_path(@order) %> |
<%= link_to 'Back', merchant_orders_path %>
