<%= form_for@promotion_image, :html => {:multipart => true } do |f| %>
  <% if @promotion_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion_image.errors.count, "error") %> prohibited this promotion_image from being saved:</h2>

      <ul>
      <% @promotion_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :imageurl %><br />
    <%= f.file_field :imageurl %>
  </div>
  <div class="field">
    <%= f.label :mediatype %><br />
    <%= f.text_field :mediatype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
