<h1>Listing promotion_images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Destination URL</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promotion_images.each do |promotion_image| %>
  <tr>
    <td><%= promotion_image.name %></td>
    <td><%= promotion_image.imageurl %></td>
    <td><%= promotion_image.mediatype %></td>
    <td><%= link_to 'Show', promotion_image %></td>
    <td><%= link_to 'Edit', edit_promotion_image_path(promotion_image) %></td>
    <td><%= link_to 'Destroy', promotion_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promotion image', new_promotion_image_path %>
