<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promotion_image.name %>
</p>

<p>
  <b>image:</b>
  <%= @promotion_image.imageurl %>
  <%= image_tag @promotion_image.imageurl_url.to_s %>

  <%= image_tag @promotion_image.imageurl_url(:teaser).to_s %>

</p>

<p>
  <b>Type:</b>
  <%= @promotion_image.mediatype %>
</p>


<%= link_to 'Edit', edit_promotion_image_path(@promotion_image) %> |
<%= link_to 'Back', promotion_images_path %>
