Dear #{@vendor.name},

Please be advised that we have sent you a check (#{@payment.check_number}, dated #{@payment.check_date.try(:strftime, ApplicationHelper::DATE_FORMAT)}) for #{number_to_currency(@payment.amount)}.

This is in payment for the following vouchers:
- @payment.vouchers.each do |voucher|
  == #{voucher.uuid}, redeemed by #{voucher.order.first_name} #{voucher.order.last_name} on #{voucher.redemption_date.try(:strftime, ApplicationHelper::DATE_FORMAT)} |
  in the amount of #{number_to_currency(voucher.order.total_cost)} (merchant share: #{number_to_currency(voucher.order.merchant_share)}) |
  according to the terms of the promotion '#{voucher.order.promotion.title}' |
