.row
  .span12.nav-menus
    %ul.nav.nav-pills.categories
      - if active_category.nil? or active_category == 'All'
        %li.active
          = link_to 'All Items', root_path, :id => "All"
      - else
        %li
          = link_to 'All Items', root_path, :id => "All"
      -# The link is necessary for the jQuery to work, but the actual navigation is Ajax, so the destinations don't matter
      - @categories.each do |category|
        - if active_category == category.name
          %li.active
            = link_to category.name, root_path, :id => "#{category.name}"
        - else
          %li
            = link_to category.name, root_path, :id => "#{category.name}"
      - if !current_user.nil?
        .pull-right
          = link_to(image_tag('MachoBucksSmall.png'), about_macho_bucks_path)
          = number_to_currency(current_user.total_macho_bucks)
          = I18n.t('macho_bucks')
