.row-fluid.product-line
  .span4.product
    = image_tag @promotion.teaser_image_url(:product_front_page).to_s  
  .span8.product-detail
    .row-fluid
      .span10
        %h2.affiliate-headline= @promotion.title
        - if !@promotion.subtitle.nil?
          %h4= @promotion.subtitle
        .space
        -# if @show_buy_button
          = link_to 'BUY IT from ' + @promotion.vendor.name, @promotion.destination, :target => "_blank", :class => 'btn btn-danger'
    .row-fluid
      .span12.product-detail
        %ul.nav.nav-tabs
          %li.active
            <a data-toggle="tab" href="#tab1">Description </a>
        .tab-content
          #tab1.tab-pane.fade.in.active
            %h3.tab-title Product Description
            %p= @promotion.description
        - if @show_buy_button
          .tab-bottom-button
            = link_to 'BUY IT from ' + @promotion.vendor.name, @promotion.destination, :target => "_blank"
.space-medium
.row-fluid.well
  - @curators.each do |curator|
    = render :partial => 'associated_curator', :locals => { :promotion => @promotion, :curator => curator }
    
