.row-fluid.product-line
  .span4.product
    = image_tag @promotion.teaser_image_url(:product_detail).to_s  
  .span8.product-detail
    .row-fluid
      .span8
        %h3.affiliate-headline= @promotion.title
    .row-fluid
      .span12
        - if @show_buy_button
          %p
            %button.btn.btn-danger 
              = link_to 'BUY IT from ' + @promotion.vendor.name, @promotion.destination, :target => "_blank"
.row-fluid
  .span12.product-detail
    %ul.nav.nav-tabs
      %li
        <a data-toggle="tab" href="#tab1">Description </a>
      %li
        <a data-toggle="tab" href="#tab2">Limitations</a>
    .tab-content
      #tab1
        %p= @promotion.description
      #tab2
        %p Test
.space        
.row-fluid
  - @curators.each do |curator|
    .span3.curator-block
      .row-fluid.curator-row
        .span2
          = link_to(image_tag(curator.picture_url(:contributor_photo).to_s), curator_path(curator))
        .span10.curator-name
          = link_to curator.name, curator_path(curator)
      .row-fluid.curator-post-row
        .span12.curator-post-title
          .icon-circle-arrow-right
          - curator.blog_posts_for(@promotion).each do |post|
            = link_to post.title, blog_post_path(post)
    
