.local-deal-container
  .promotion.row  
    .row 
      .large-3.columns.product
        = image_tag @promotion.teaser_image_url(:product_front_page).to_s
        %br
          .twshare
            %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "https://twitter.com/share"} Tweet
            %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
          .fshare
            %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
            %fb:like{:layout => "button_count", :show_faces => "false"}
      .large-9.columns.product-detail
        .row
          .large-12.columns
            .row
              .large-12.columns
                %h3= @promotion.title
                - if !@promotion.subtitle.nil?
                  %h4= @promotion.subtitle
            .row
              .large-6
                - if @show_buy_button
                  = link_to 'Buy it from ' + @promotion.vendor.name, @promotion.destination, :target => "_blank", :class => 'darkred-btn'
            %br
            .row
              %br
              .large-12.columns
                .section-container.tabs{:data => {:section => ''}}
                  %section.section
                    %p.title
                      %a Description
                    .content
                      %p= @promotion.description
                  %section.section
                    %p.title 
                      %a Comments
                    .content
                      .spread
                        %fb:comments{:numposts => "4", :title => "Comments", :simple => "1", :href => "https://#{request.host+request.fullpath}".to_s}
    .row.curator
      - if !@curators.empty?        
        .section-divider.large-10.large-offset-1
          .row
            %h4 Mentors talking about similar deals
          .row.well
            - @curators.each do |curator|
              = render :partial => 'associated_curator', :locals => { :promotion => @promotion, :curator => curator }
