 
<% if @promotion.id == nil
	@promotype = params['type']

else
	    if @promotion.ad? 
	  	  @promotype = "ad"
	    else
			if @promotion.affiliate?
	  		@promotype = "affiliate"
	  	  else
	  		@promotype = "local"
	 	   end
	    end


end%>
<%if @promotype != nil%>
<h2>(<%=@promotype%>)</h2>
<%end%> 

 

	<%if @promotype  == "local"%>


	<%= form_for @promotion , :html => {:multipart => true } do |f| %>
	  <% if @promotion.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

	      <ul>
	      <% @promotion.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :title %><br />
	    <%= f.text_field :title, :size => 100 %>
	  </div>
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :size => "60x12" %>
	  </div>
	  <div class="field">
	    <%= f.label :limitations %><br />
	    <%= f.text_area :limitations, :size => "60x12" %>
	  </div>
	  <div class="field">
	    <%= f.label :voucher_instructions %><br />
	    <%= f.text_area :voucher_instructions , :size => "60x6"%>
	  </div>
	  <div class="field">
	    <%= f.label :teaser_image %><br />
	    <%= f.file_field :teaser_image %>
	  </div>
	  <div class="field">
	    <%= f.label :remote_teaser_image_url, "or image URL" %><br />
	    <%= f.text_field :remote_teaser_image_url %>
	  </div>


	  <div class="field">
	    <%= f.label :main_image %><br />
	    <%= f.file_field :main_image %>
	  </div>

	  <div class="field">
	    <%= f.label :remote_main_image_url, "or image URL" %><br />
	    <%= f.text_field :remote_main_image_url %>
	  </div>

	  <div class="field">
	    <%= f.label :retail_value %><br />
	    <%= f.text_field :retail_value , :size => 15%>
	  </div>
	  <div class="field">
	    <%= f.label :price %><br />
	    <%= f.text_field :price, :size => 15 %>
	  </div>
	  <div class="field">
	    <%= f.label :revenue_shared %> (Percent, 0 to 1 number ->slider?)<br />
	    <%= f.text_field :revenue_shared , :size => 15%>
	  </div>
	  <div class="field">
	    <%= f.label :quantity %><br />
	    <%= f.number_field :quantity %>
	  </div>
	  <div class="field">
	    <%= f.label :start_date %><br />
	    <%= f.datetime_select :start_date %>
	  </div>
	  <div class="field">
	    <%= f.label :end_date %><br />
	    <%= f.datetime_select :end_date %>
	  </div>
	  <div class="field">
	    <%= f.label :grid_weight %><br />
	    <%= f.number_field :grid_weight %>
	  </div>
 
	  <div class="field">
	    <%= f.label :metro_id %><br />
		<%= f.collection_select :metro_id, Metro.all, :id, :name

		%>
	  </div>
	  <div class="field">
	    <%= f.label :vendor_id %><br />
		<%= f.collection_select :vendor_id, Vendor.all, :id, :name

		%>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	

	<%
end
	
	else 
			if @promotype == "ad"%>
			
			
		
		
		
		
		
			<%= form_for @promotion , :html => {:multipart => true } do |f| %>
			  <% if @promotion.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

			      <ul>
			      <% @promotion.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :title %><br />
			    <%= f.text_field :title %>
			  </div>
			
			  <div class="field">
			    <%= f.label :teaser_image %><br />
			    <%= f.file_field :teaser_image %>
			  </div>
			  <div class="field">
			    <%= f.label :remote_teaser_image_url, "or image URL" %><br />
			    <%= f.text_field :remote_teaser_image_url %>
			  </div>

			  <div class="field">
			    <%= f.label :grid_weight %><br />
			    <%= f.number_field :grid_weight %>
			  </div>

			  <div class="field">
			    <%= f.label :destination %> ( This is the link to the <b>outside world (url)</b> in a new winodw)<br />
			    <%= f.text_field :destination %>
			  </div>
			  <div class="field">
			    <%= f.label :metro_id %><br />
				<%= f.collection_select :metro_id, Metro.all, :id, :name

				%>
			  </div>
			  <div class="field">
			    <%= f.label :vendor_id %><br />
				<%= f.collection_select :vendor_id, Vendor.all, :id, :name

				%>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>	
			
			
			
			<%else
				if @promotype == "affiliate"%>
	
			<%= form_for @promotion , :html => {:multipart => true } do |f| %>
			  <% if @promotion.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

			      <ul>
			      <% @promotion.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :title %><br />
			    <%= f.text_field :title %>
			  </div>
			  <div class="field">
			    <%= f.label :description %><br />
			    <%= f.text_field :description %>
			  </div>
			  <div class="field">
			    <%= f.label :limitations %><br />
			    <%= f.text_field :limitations %>
			  </div>
			  <div class="field">
			    <%= f.label :voucher_instructions %><br />
			    <%= f.text_field :voucher_instructions %>
			  </div>
			  <div class="field">
			    <%= f.label :teaser_image %><br />
			    <%= f.file_field :teaser_image %>
			  </div>
			  <div class="field">
			    <%= f.label :remote_teaser_image_url, "or image URL" %><br />
			    <%= f.text_field :remote_teaser_image_url %>
			  </div>


			  <div class="field">
			    <%= f.label :main_image %><br />
			    <%= f.file_field :main_image %>
			  </div>

			  <div class="field">
			    <%= f.label :remote_main_image_url, "or image URL" %><br />
			    <%= f.text_field :remote_main_image_url %>
			  </div>

			  <div class="field">
			    <%= f.label :retail_value %><br />
			    <%= f.text_field :retail_value %>
			  </div>
			  <div class="field">
			    <%= f.label :price %><br />
			    <%= f.text_field :price %>
			  </div>
			  <div class="field">
			    <%= f.label :revenue_shared %><br />
			    <%= f.text_field :revenue_shared %>
			  </div>
			  <div class="field">
			    <%= f.label :quantity %><br />
			    <%= f.number_field :quantity %>
			  </div>
			  <div class="field">
			    <%= f.label :start_date %><br />
			    <%= f.datetime_select :start_date %>
			  </div>
			  <div class="field">
			    <%= f.label :end_date %><br />
			    <%= f.datetime_select :end_date %>
			  </div>
			  <div class="field">
			    <%= f.label :grid_weight %><br />
			    <%= f.number_field :grid_weight %>
			  </div>
			  <div class="field">
			    <%= f.label :destination %><br />
			    <%= f.text_field :destination %>
			  </div>
			  <div class="field">
			    <%= f.label :metro_id %><br />
				<%= f.collection_select :metro_id, Metro.all, :id, :name

				%>
			  </div>
			  <div class="field">
			    <%= f.label :vendor_id %><br />
				<%= f.collection_select :vendor_id, Vendor.all, :id, :name

				%>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			  <%end%>
			<%end %>
	<%end%>






<%if params['type'] == ""%>

<%= form_for @promotion , :html => {:multipart => true } do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :limitations %><br />
    <%= f.text_field :limitations %>
  </div>
  <div class="field">
    <%= f.label :voucher_instructions %><br />
    <%= f.text_field :voucher_instructions %>
  </div>
  <div class="field">
    <%= f.label :teaser_image %><br />
    <%= f.file_field :teaser_image %>
  </div>
  <div class="field">
    <%= f.label :remote_teaser_image_url, "or image URL" %><br />
    <%= f.text_field :remote_teaser_image_url %>
  </div>


  <div class="field">
    <%= f.label :main_image %><br />
    <%= f.file_field :main_image %>
  </div>

  <div class="field">
    <%= f.label :remote_main_image_url, "or image URL" %><br />
    <%= f.text_field :remote_main_image_url %>
  </div>

  <div class="field">
    <%= f.label :retail_value %><br />
    <%= f.text_field :retail_value %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :revenue_shared %><br />
    <%= f.text_field :revenue_shared %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :grid_weight %><br />
    <%= f.number_field :grid_weight %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :metro_id %><br />
    <%= f.number_field :metro_id %>
  </div>
  <div class="field">
    <%= f.label :vendor_id %><br />
	<%= f.collection_select :vendor_id, Vendor.all, :id, :name
	
	%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end %>
<% end %>

<% end %>
