.local-deal-container
  .promotion.row  
    .row
      - if @show_accept_reject
        Please review the edited promotion below, and accept or reject the changes.
        %br/
        = link_to 'Review comment log', show_logs_promotion_path(@promotion)
        = button_to 'Accept Machovy Changes', accept_edits_promotion_path(@promotion), :method => :put, :class => "button big round"
        = form_tag(reject_edits_promotion_path(@promotion), :method => :put) do
          If you're rejecting the changes, please tell us why below
          %br= text_area_tag 'comment', nil, :rows => 5, :class => "slider-input", :placeholder => 'Comment'
          = submit_tag 'Reject Machovy Changes', :class => "button big round"
    .row.product-line
      .large-5.columns.product
        %ul{:data => {:orbit => 'promotion-image'}}
          - no_images = @promotion.teaser_image.file.nil? and @promotion.main_image.file.nil? and 0 == @promotion.promotion_images.count
          - if no_images
            .space
          - else
            - if !@promotion.teaser_image.file.nil?
              %li
                = image_tag @promotion.teaser_image_url(:product_front_page).to_s
            - if !@promotion.main_image.file.nil?
              %li
                = image_tag @promotion.main_image_url(:product_front_page).to_s
              - @promotion.promotion_images.each do |slideshow|
                - if !slideshow.slideshow_image.file.nil?
                  %li
                    = image_tag slideshow.slideshow_image_url(:product_front_page).to_s
        %br
          .twshare
            %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "https://twitter.com/share"} Tweet
            %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
          .fshare
            %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
            %fb:like{:layout => "button_count", :show_faces => "false"}       
      .large-7.columns.product-detail
        .row
          .large-12.columns
            %h3= @promotion.title
            - if !@promotion.subtitle.nil?
              %h4= @promotion.subtitle
        .row
          .large-12.columns
            .large-4.small-6.columns.x-padding
              - if @promotion.retail_value > @promotion.price
                %span.price-old= number_to_currency(@promotion.retail_value)
              %span.price-new= number_to_currency(@promotion.price)
              %br
              %span= @promotion.quantity_description
            .large-8.small-6.columns.x-padding
              - if @locked
                .darkblue-btn
                  = I18n.t('unlock')
              - elsif @show_buy_button
                .btn
                  = link_to order_promotion_path(@promotion) do
                    = image_tag 'dollar-coin.png', :style => 'width:110px'
                    = I18n.t('pay_with_dollars')
                .btn
                  = link_to order_promotion_path(@promotion, :bitcoin => true) do
                    = image_tag 'bitcoin.png', :style => 'width:110px'
                    = I18n.t('pay_with_bitcoin')
        .row
          .large-8.columns
            %table
              %thead
                %tr
                  %th Value
                  - if @promotion.discount > 0
                    %th Discount
                    %th Save
              %tbody
                %tr
                  %td= number_to_currency(@promotion.retail_value)
                  - if @promotion.discount > 0
                    %td= number_to_percentage(@promotion.discount_pct, :precision => 0)
                    %td= number_to_currency(@promotion.discount)
        .row
          .large-12.columns
            .section-container.auto{:data => {:section => ''}}
              %section.section
                %p.title
                  %a Description
                .content
                  %p= seo_transform(@promotion.description)
              %section.section
                %p.title
                  %a Limitations
                .content
                  %p= seo_transform(@promotion.limitations)
              %section.section#mapclick
                %p.title
                  %a Details
                .content
                  .row
                    .large-4.columns
                      = render :partial => 'shared/promotion_details', :locals => { :promotion => @promotion }
                    .large-8.columns
                      = render :partial => 'shared/promotion_map', :locals => { :promotion => @promotion }
              %section.section
                %p.title 
                  %a Comments
                .content
                  .spread
                    %fb:comments{:numposts => "4", :title => "Comments", :simple => "1", :href => "https://#{request.host+request.fullpath}".to_s}
    .row
      - if !@curators.empty?        
        .large-12.columns
          %h4 Mentors talking about similar deals
          - @curators.each do |curator|
            = render :partial => 'associated_curator', :locals => { :promotion => @promotion, :curator => curator }
