- if @show_accept_reject
  Please review the edited promotion below, and accept or reject the changes.
  %br/
  = link_to 'Review comment log', show_logs_promotion_path(@promotion)
  = button_to 'Accept Machovy Changes', accept_edits_promotion_path(@promotion), :method => :put, :class => "button big round"
  = form_tag(reject_edits_promotion_path(@promotion), :method => :put) do
    If you're rejecting the changes, please tell us why below
    %br= text_area_tag 'comment', nil, :rows => 5, :class => "slider-input"
    = submit_tag 'Reject Machovy Changes', :class => "button big round"
.row-fluid
  .span3.product
    .carousel.slide.product-detal-slider
      .carousel-inner
        - if !@promotion.teaser_image.nil?
          .item
            = image_tag @promotion.teaser_image_url(:product_detail).to_s
        - if !@promotion.main_image.nil?
          .item
            = image_tag @promotion.main_image_url(:product_detail).to_s
        - @promotion.promotion_images.each do |slideshow|
          .item
            = image_tag slideshow.slideshow_image_url(:product_detail).to_s
  .span6.product-detail
    %h3= @promotion.title
    %p
      %button.btn.btn-small== #{number_to_percentage(@promotion.discount_pct, :precision => 0)} off
      %button.btn.btn-small= @promotion.quantity_description
      - if @show_buy_button
        %button.btn.btn-small.btn-danger 
          = link_to 'BUY IT', order_promotion_path(@promotion)
      %button.btn.btn-small= number_to_currency(@promotion.price)
.row-fluid
  .span12.cta
    %p== Get #{number_to_percentage(@promotion.discount_pct, :precision => 0)} off #{number_to_currency(@promotion.retail_value)}
  .row-fluid
    .span5.product
      %table.table.table-condensed
        %thead
          %tr
            %th Retail Value
            %th Discount
            %th You Save
        %tbody
          %tr
            %th= number_to_currency(@promotion.retail_value)
            %th= number_to_percentage(@promotion.discount_pct, :precision => 0)
            %th= number_to_currency(@promotion.discount)
    .span7.product-detail
      %p= @promotion.description
      - if @show_buy_button
        %button.btn.btn-small.btn-danger 
          = link_to 'BUY IT', order_promotion_path(@promotion)
      %p
        %em= @promotion.limitations 
.row-fluid
  - @curators.each do |curator|
    .span3
      = link_to(image_tag(curator.picture_url(:contributor_photo).to_s), curator_path(curator))
      = link_to curator.name, curator_path(curator)
      %br/
      - curator.blog_posts_for(@promotion).each do |post|
        = link_to post.title, blog_post_path(post)



