%table
  %col{:width => "200"}/
  %col{:width => "100"}/
  %col{:width => "150"}/
  %col{:width => "100"}/
  %col{:width => "75"}/
  %col{:width => "75"}/
  %col{:width => "50"}/
  %tr
    %th Image
    %th Status
    %th Title
    %th Expiration
    %th Price
    %th Quantity
    %th Log
  - p_list.each do |p|
    %tr
      - if Promotion::MACHOVY_REJECTED == p.status
        %td= link_to(image_tag(p.teaser_image_url(:teaser).to_s, :size => "200x200", :alt => "Click to edit this promotion"), edit_promotion_path(p))
      - else
        %td= link_to(image_tag(p.teaser_image_url(:teaser).to_s, :size => "200x200"), promotion_path(p))
      %td= p.status
      %td= p.title
      - if p.end_date.nil?
        %td None
      - else
        %td= p.end_date.try(:strftime, '%b %d, %Y')
      %td= number_to_currency(p.price)
      %td= p.quantity
      - if 0 == p.promotion_logs.count
        %td None
      - else
        %td= button_to "Show (#{p.promotion_logs.count})", show_logs_promotion_path(p), :method => :get
