- @display_voucher_link = false
-# This partial is displayed many times from many places, and this argument is nearly always false
-#   So don't require passing it in. Set the display link flag if it's passed in and true; leave it false otherwise
- if defined?(show_vouchers)
  - @display_voucher_link = show_vouchers
%table
  %col{:width => "200"}/
  %col{:width => "100"}/
  %col{:width => "150"}/
  %col{:width => "100"}/
  %col{:width => "75"}/
  %col{:width => "75"}/
  %col{:width => "50"}/
  - if @display_voucher_link
    %col{:width => "75"}/
  %tr
    %th Image
    %th Status
    %th Title
    %th Expiration
    %th Price
    %th Quantity
    %th Log
    - if @display_voucher_link
      %th Vouchers
  - p_list.each do |p|
    %tr
      - if Promotion::MACHOVY_REJECTED == p.status
        %td= link_to(image_tag(p.teaser_image_url(:product_thumb).to_s, :alt => "Click to edit this promotion"), edit_promotion_path(p))
      - else
        %td= link_to(image_tag(p.teaser_image_url(:product_thumb).to_s), promotion_path(p))
      %td= p.status
      %td= p.title
      - if p.end_date.nil?
        %td None
      - else
        %td= p.end_date.try(:strftime, '%b %d, %Y')
      %td= number_to_currency(p.price)
      %td= p.quantity
      - if 0 == p.promotion_logs.count
        %td None
      - else
        %td= button_to "Show (#{p.promotion_logs.count})", show_logs_promotion_path(p), :method => :get
      - if @display_voucher_link
        - if 0 == p.vouchers.count
          %td None
        - else
          %td= link_to "Redeem (#{p.num_open_vouchers})", merchant_vouchers_path(:promotion_id => p.id)
