%center
  = will_paginate p_list, :param_name => param_name
  = page_entries_info p_list, :param_name => param_name
%table
  %thead
    %tr
      %th Vendor
      %th Status
      %th Title
      %th Subtitle
      %th Expiration
      - if !p_list.empty? and p_list.first.deal?
        %th Price
        %th Quantity
      %th Log
      %th Delete
      %th Crop
      %th Upload
  %tbody
    - p_list.each do |p|
      %tr
        %td= link_to "#{p.vendor.name}", merchant_vendor_path(p.vendor)
        - if p.suspended?
          %td== #{p.status} [Suspended]
        - elsif p.coming_soon?
          %td== #{p.status} [Coming Soon]
        - else
          %td= p.status
        %td
          = link_to "#{p.title}", edit_promotion_path(p)
          = link_to "[Preview]", promotion_path(p)
        %td= p.subtitle
        - if p.end_date.nil?
          %td None
        - else
          %td= p.end_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
        - if p.deal?
          %td= number_to_currency(p.price)
          %td= p.quantity
        - if 0 == p.promotion_logs.count
          %td None
        - else
          %td= button_to "Show (#{p.promotion_logs.count})", show_logs_promotion_path(p), :class => "btn tiny", :method => :get
        - if 0 == p.orders.count
          %td= button_to "Delete", p, :class => "btn tiny", :method => :delete, :data => { confirm: 'Are you sure?' }
        - else
          %td
        %td= button_to 'Crop', crop_promotion_path(p), :method => :get,  :class => 'btn tiny'
        %td= p.upload_pending? ? 'Pending' : 'Complete'
%center
  = will_paginate p_list, :param_name => param_name
