
<table style="border: 0px" >
	<tr>
		<td colspan="2">About This Deal</td>
	</tr>
	<tr>
		<td valign="top"  align="left" rowspan="6"><b>Description:</b>
	  <%= @promotion.description %></td>
	  </tr>
<Tr>
		<td>		  <b>Vendor:</b>
		  <%= @promotion.vendor.name %></td></tr>
		<tr><td>  <b>Quantity:</b>
		  <%= @promotion.quantity %></td></tr>
		<tr><td>  <b>Metro:</b>
		  <%= @promotion.metro_id %></td></tr>
		<tr><td>  <b>Start:</b>
		  <%= @promotion.start_date %></td></tr>
		<tr><td>  <b>End:</b>
		  <%= @promotion.end_date %></td></tr>

<Tr>
	<td colspan=2>
		FINE PRINT:  
  <%= @promotion.limitations %>

		</td>
</Tr>
</table>