%table.thumbnail-table
  %tr
    %td{:colspan => 2} About This Deal
  %tr
    %td{:valign => "top", :align => "left", :rowspan => 6}
      %b Description:
      %pre= promotion.description
  %tr
    %td
      %b Vendor:
      = promotion.vendor.name
  %tr
    %td
      %b Quantity:
      = promotion.quantity_description
  %tr
    %td
      %b Metro:
      = Metro.find(promotion.metro_id).name
  %tr
    %td
      %b Start date:
      = promotion.start_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
  %tr
    %td
      %b Expiration date:
      = promotion.end_date.try(:strftime, ApplicationHelper::DATE_FORMAT)
  %tr
    %td{:colspan => 2}
      FINE PRINT:
      = promotion.limitations
