.admin-page-container
  .row
    .large-12.columns
      %h1== Editing #{@promotion.title}
  .row
    = render :partial => 'shared/flash_messages'
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      %h4== Editing #{@promotion.title}
      = form_for @promotion, :url => { :action => 'crop_image' }, :html => { multipart: true } do |f|
        = render :partial => 'shared/error_messages', :locals => { :errors => @promotion.errors, :name => 'Promotion' }
        = render :partial => 'shared/promotion_images', :locals => { :f => f}
