%h1== Editing #{@promotion.title}
= form_for @promotion, :html => { multipart: true } do |f|
  = render :partial => 'shared/error_messages', :locals => { :errors => @promotion.errors, :name => 'Promotion' }
  -# Grid weight is validated, so it has to be in the form, but customers can't see it
  - if current_user.has_role?(Role::SUPER_ADMIN)
    -# If we are editing affiliates, can't change status
    - if @promotion.deal?
      -# Admins who are editing can approve or reject with comments
      %p== Please review this promotion, proposed by #{@promotion.vendor.name}.
      You can accept the promotion as-is, reject it, or make minor edits for the vendor to review.
      Indicate your choice below; any comments you wish to make will be recorded along with your decision.
      %br/
      Keep in mind that:
      %uldotted-list
        %li Your comments are visible to the vendor
        %li Accepting the promotion means it will immediately go live
        %li You can make edits even when accepting or rejecting, though the suggested process is to write comments and let vendors make updates
      %br/
      = radio_button_tag 'decision', 'accept', true
      = label_tag 'decision_accept', 'Accept', :style => "display:inline"
      &nbsp;&nbsp;
      = radio_button_tag 'decision', 'reject'
      = label_tag 'decision_reject', 'Reject', :style => "display:inline"
      &nbsp;&nbsp;
      = radio_button_tag 'decision', 'edit'
      = label_tag 'decision_edit', 'Edit', :style => "display:inline"
      %br/
      %br/
      Description of edits, general comments, or reason for rejection:
      %br= text_area_tag 'comment', nil, :rows => 5, :class => "slider-input"
    .field
      = f.label :grid_weight
      = f.number_field :grid_weight, :min => 1
    .field
      = f.check_box :suspended
      = f.label :suspended, :style => "display:inline"
    %br/
    .field
      = f.label :categories
      %br/
      = render :partial => 'shared/category_selection', :locals => { :categories => Category.all, :num_per_column => 4, :name => 'promotion', :object => @promotion }
  - else
    = f.hidden_field :grid_weight
  - if @promotion.deal?
    - @fixed_date = PromotionStrategyFactory::FIXED_STRATEGY == @promotion.strategy_name ? @promotion.strategy.end_date : Time.now.beginning_of_day
    = render :partial => 'shared/promotion_fields', 
             :locals => { :f => f, :metros => @metros, :quantity => @promotion.quantity || 1, :share_pct => @promotion.revenue_shared, :share_options => @promotion.revenue_share_options, :strategy => @promotion.strategy_name, :fixed_date => @fixed_date }
  - else
    = render :partial => 'shared/nondeal_promotion_fields', :locals => { :f => f, :metros => @metros }
