= render :partial => 'shared/flash_messages'
.container
  .row-fluid
    .span3
      = render :partial => 'shared/admin_navigation'
    .span9
      .row-fluid
        .span12.column
          .box
            %h4.box-header.round-top All promotions - Listing / Manage
            .box-container-toggle
              .box-content
                .form-horizontal
                  %fieldset
                    %legend
                      %h3 Promotions that need Machovy attention
                    .row-fluid
                      .span12
                        .portfolio-container
                          - if 0 == @attention.count
                            None
                          - else
                            = render :partial => 'promotion_admin', :locals => { :p_list => @attention }
                          %h3 Pending Promotions
                          - if 0 == @pending.count
                            None
                          - else
                            = render :partial => 'promotion_admin', :locals => { :p_list => @pending }
                          %h3 Live Promotions
                          - if 0 == @live.count
                            None
                          - else
                            = render :partial => 'promotion_admin', :locals => { :p_list => @live }
                          %h3 Inactive Promotions
                          - if 0 == @inactive.count
                            None
                          - else
                            = render :partial => 'promotion_admin', :locals => { :p_list => @inactive }
