-# Need this to display confirmation notice on vendor signup
= render :partial => 'shared/flash_messages'
%h1 All promotions - Listing / Manage
.portfolio-container
  %h3 Live Promotions
  - if 0 == @live.count
    None
  - else
    = render :partial => 'promotion', :locals => { :p_list => @live, :show_vouchers => true }
  %h3 Promotions that need your attention
  - if 0 == @attention.count
    None
  - else
    = render :partial => 'promotion', :locals => { :p_list => @attention }
  %h3 Pending Promotions
  - if 0 == @pending.count
    None
  - else
    = render :partial => 'promotion', :locals => { :p_list => @pending }
  %h3 Inactive Promotions
  - if 0 == @inactive.count
    None
  - else
    = render :partial => 'promotion', :locals => { :p_list => @inactive }
  -# Not using ads for now, so don't display an Ad header by default
  - if @ads.count > 0
    %h3 Advertisements
    = render :partial => 'ad', :locals => { :p_list => @ads }
%br/
= link_to 'New Promotion', new_promotion_path(:promotion_type => Promotion::LOCAL_DEAL)
