= render :partial => 'shared/flash_messages'
.create-promotion-page-container
  .row
    .large-12.columns
      %h1== #{I18n.t('promotions.index_heading')} <small>Make yours count</small>
  .row.create-promotion-page
    -# Need this to display confirmation notice on vendor signup
    = link_to "<i class='icon-plus'></i> Create Promotion".html_safe, new_promotion_path(:promotion_type => Promotion::LOCAL_DEAL),{:class => 'btn success', :style => 'margin-bottom:0px;'}  
    %hr
    - if (@pending.count + @attention.count + @live.count) > 0
      .row
        .large-4.columns
          %h4= I18n.t('promotions.pending')
          - if 0 == @pending.count
            None
          - else
            = render :partial => 'promotion_dashview', :locals => { :p_list => @pending }
        .large-4.columns
          %h4= I18n.t('promotions.attention') 
          - if 0 == @attention.count
            None
          - else
            = render :partial => 'promotion_dashview', :locals => { :p_list => @attention }  
        .large-4.columns
          %h4= I18n.t('promotions.live')
          - if 0 == @live.count
            None
          - else
            = render :partial => 'promotion_dashview', :locals => { :p_list => @live, :show_vouchers => true }
      %hr
    - if @inactive.count >0 
      .row
        %h4= I18n.t('promotions.inactive')
        - if 0 == @inactive.count
          None
        - else
          = render :partial => 'promotion_dashview', :locals => { :p_list => @inactive }
    .row
      -# Not using ads for now, so don't display an Ad header by default
      - if @ads.count > 0
        %h4= I18n.t('promotions.ads')
        = render :partial => 'ad', :locals => { :p_list => @ads }
