-# Need this to display confirmation notice on vendor signup
= render :partial => 'shared/flash_messages'
%h1 Local Deals
.row-fluid
  .span4
    .row-fluid
      .span5
        %h3 Under Review
      .span7{:style => 'padding:15px 0px 0px 0px;'}
        = link_to "<i class='icon-plus'></i> Create Promotion".html_safe, new_promotion_path(:promotion_type => Promotion::LOCAL_DEAL),{:class => 'btn'}  
    - if 0 == @pending.count
      None
    - else
      = render :partial => 'promotion_dashview', :locals => { :p_list => @pending }
    %br

  .span4
    %h3 Requires Revisions
    - if 0 == @attention.count
      None
    - else
      = render :partial => 'promotion_dashview', :locals => { :p_list => @attention }  
  .span4
    %h3 Live Deals
    - if 0 == @live.count
      None
    - else
      = render :partial => 'promotion_dashview', :locals => { :p_list => @live, :show_vouchers => true }
%br

.divider

.row-fluid
  %h3 Your Past Deals
  - if 0 == @inactive.count
    None
  - else
    = render :partial => 'promotion_dashview', :locals => { :p_list => @inactive }
.row-fluid
  -# Not using ads for now, so don't display an Ad header by default
  - if @ads.count > 0
    %h3 Advertisements
    = render :partial => 'ad', :locals => { :p_list => @ads }
