<h1>All promotions - Listing / Manage</h1>



<%= link_to 'New Promotion', new_promotion_path %>
<br>

	
<div class="portfolio-container">
	<ul id="grid-portfolio" class="portfolio-items">


		<% @promotions.each do |promotion| 
			if promotion.ad?%>
			
			<li data-categories="animation">
			<div class="item-hover">
				<table><tr><td>
				<h4><%= promotion.id %> - <%= sanitize(promotion.title)%></h4>
				 <%= image_tag promotion.teaser_image_url(:teaser).to_s, :size => "200x200"%> <Br>
					 URL: <%=truncate(promotion.destination, :length => 20)%> <br>
			     Weight: <%= promotion.grid_weight %><br>
				 <b>
			     <%= link_to 'Show', promotion %>&nbsp;&nbsp;
			     <%= link_to 'Edit', edit_promotion_path(promotion) %>&nbsp;&nbsp;
			     <%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></b>
			 </td></tr></table>
			</div>
			</li>
		
			<%else
			%>

			<li data-categories="animation">
			<div class="item-hover">
				<table><tr><td>
				<h4><%= promotion.id %> - <%= sanitize(promotion.title)%></h4>
				 <%= image_tag promotion.teaser_image_url(:teaser).to_s, :size => "200x200"%> <Br>
					 URL: <%=truncate(promotion.destination, :length => 20)%> <br>
			     Weight: <%= promotion.grid_weight %><br>
				 <b>
			     <%= link_to 'Show', promotion %>&nbsp;&nbsp;
			     <%= link_to 'Edit', edit_promotion_path(promotion) %>&nbsp;&nbsp;
			     <%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></b>
			 </td></tr></table>
			</div>
			</li>
			
			 

		<% end	
		  end %>

	</ul>
	<!--GRID PORTFOLIO ENDS -->
</div>
