= render :partial => 'shared/flash_messages'
.admin-page-container
  .row
    .large-12.columns
      %h1 Front Page Manager
  .row.admin-page
    .large-3.columns
      = render :partial => 'shared/admin_navigation'
    .large-9.columns
      %h5
        //= will_paginate
        = page_entries_info 
      %table
        %thead
          %tr
            %th{:width => '150'} Thumbnail
            %th{:width => '600'}  Title
            %th Status
        %tbody
        - idx = (@promotions.current_page - 1) * Promotion.per_page + 1  
        - @promotions.each do |promotion|
          %tr
            %td 
              //= image_tag promotion.teaser_image_url(:product_front_page).to_s
            %td
              - if promotion.awaiting_machovy_action?
                == #{idx}. #{link_to promotion.title, edit_promotion_path(promotion)} -- #{promotion.subtitle}
              - else
                == #{idx}. #{link_to promotion.title, promotion_path(promotion)} -- #{promotion.subtitle}
              - idx += 1
              = form_for promotion, :remote => true, :method => :put, :url => update_weight_promotion_path(promotion) do |f|
                = f.label :grid_weight
                = f.number_field :grid_weight, :min => 1, :id => "grid_weight_#{promotion.id}"
                = render :partial => 'grid_weight_buttons', :locals => { :id => promotion.id, :step => @step_value, :page => @page_value }
                = f.submit 'Update weight', :class => 'btn tiny success' 
            %td
              - if promotion.displayable?
                %p Live
      %center= will_paginate
