.row-fluid
  .span12
    %h1 Front Page Manager
    %em Promotions appear in order. Refresh the page after editing weights to re-order
    %br
    %br
.row-fluid
  .span12
    - idx = 1
    - @promotions.each do |promotion|
      .row-fluid.fpm-row
        .span3
          = image_tag(promotion.teaser_image_url(:teaser).to_s)
        .span9
          - if promotion.awaiting_machovy_action?
            == #{idx}. #{link_to promotion.title, edit_promotion_path(promotion)}
          - else
            == #{idx}. #{promotion.title}
          - if promotion.displayable?
            %h4 Live
          = form_for promotion, :remote => true, :method => :put, :url => update_weight_promotion_path(promotion) do |f|
            .field
              = f.label :grid_weight
              = f.number_field :grid_weight, :min => 1, :id => "grid_weight_#{promotion.id}"
            .actions
              = f.submit 'Update weight'
