#content-header
  %h1 Front Page Manager
#breadcrumb
  <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
  <a href="#" class="current">Front Page Manager</a>
.container-fluid
  = render :partial => 'shared/flash_messages'
  .row-fluid
    .span12
      .widget-box
        .widget-title
          %h5
            = will_paginate
            = page_entries_info
          %button.pull-right 
            = link_to 'Rebalance Weights', rebalance_promotions_path, :method => :put{:class => 'btn btn-small'}
        .widget-content.nopadding
          
          
          %table.table.table-bordered
            %thead
              %tr
                %th.span2 Thumbnail
                %th.span9 Title
                %th.span1 Status
            %tbody
            - idx = (@promotions.current_page - 1) * Promotion.per_page + 1  
            - @promotions.each do |promotion|
              %tr
                %td 
                  = image_tag promotion.teaser_image_url(:product_detail).to_s 
                %td
                  - if promotion.awaiting_machovy_action?
                    == #{idx}. #{link_to promotion.title, edit_promotion_path(promotion)} -- #{promotion.subtitle}
                  - else
                    == #{idx}. #{link_to promotion.title, promotion_path(promotion)} -- #{promotion.subtitle}
                  - idx += 1
                  = form_for promotion, :remote => true, :method => :put, :url => update_weight_promotion_path(promotion) do |f|
                    .field
                      = f.label :grid_weight
                      = f.number_field :grid_weight, :min => 1, :id => "grid_weight_#{promotion.id}"
                      = render :partial => 'grid_weight_buttons', :locals => { :id => promotion.id, :step => @step_value, :page => @page_value }
                      -#
                        .actions
                          = f.submit 'Update weight' 
                %td
                  - if promotion.displayable?
                    %p Live
          %center= will_paginate
