.container
  .row-fluid
    - if admin_user?
      .span3
        = render :partial => 'shared/admin_navigation'
      .span9
    - else
      .span12
        .row-fluid
          .span12.column
            .box
              %h4.box-header.round-top= I18n.t('new_promotion')
              .box-container-toggle
                .box-content
                  .form-horizontal
                    %fieldset
                      .row-fluid
                        .span12
                          #promotion-form
                            = form_for @promotion, :html => { multipart: true } do |f|
                              = render :partial => 'shared/error_messages', :locals => { :errors => @promotion.errors, :name => 'Promotion' }
                              -# Grid weight is validated, so it has to be in the form, but customers can't see it
                              - if admin_user?
                                = f.label :grid_weight
                                = f.number_field :grid_weight, :min => 1
                                = f.label :categories
                                = f.collection_select(:category_ids, @categories, :id, :name, {}, { :multiple => true })
                              - if current_user.has_role?(Role::SALES_ADMIN)
                                = f.label :vendor_id
                                = f.collection_select(:vendor_id, @vendors, :id, :name)
                              - else
                                = f.hidden_field :grid_weight
                              %br
                              = render :partial => 'shared/promotion_fields', 
                                       :locals => { :f => f, :metros => @metros, :quantity => @promotion.quantity || 1, :share_pct => Promotion::MINIMUM_REVENUE_SHARE }
