<%if params['type'] == "local"%>
<h1> New LOCAL DEAL</h1>
<%else 
	if params['type'] == "ad"%>
		<h1> New Advertising DEAL</h1>
	<%else
		if params['type'] == "affiliate"%>
			<h1> New Affiliate DEAL</h1>
			
		<%
		else%>
		<h2>What kind of promotion do you want to create?</h2>
		<%=link_to 'add Local Deal', new_promotion_path(:type => 'local') %>
		<br/><hr/><br/>


		<%=link_to 'add advertising deal', new_promotion_path(:type => 'ad') %>
		<br/><hr/><br/>

		<%=link_to 'add Affiliate Deal', new_promotion_path(:type => 'affiliate') %>
		<br/><hr/><br/>
		
		<%end %>	
	<%end %>	
<%end%>

<%= render 'form' %>

<%= link_to 'Back', promotions_path %>
