.about-page-container
  .row
    .large-12.columns
      %h1= I18n.t('new_promotion')
  .row
    = render :partial => 'shared/flash_messages'
  .row.about-page
    .large-8.columns
      = form_for @promotion, :html => { multipart: true } do |f|
        -# Grid weight is validated, so it has to be in the form, but customers can't see it
        = render :partial => 'shared/error_messages', :locals => { :errors => @promotion.errors, :name => 'Promotion' }
        - if admin_user?
          .box
            .field
              = f.label :grid_weight
              = f.number_field :grid_weight, :min => 1
            .field
              = f.label :categories
              %br/
              = render :partial => 'shared/category_selection', :locals => { :categories => @categories, :num_per_column => 4, :name => 'promotion', :object => @promotion }
            - if current_user.has_role?(Role::SALES_ADMIN)
              .field
                = f.label :vendor_id
                %br/
                = f.collection_select(:vendor_id, @vendors, :id, :name)
        - else
          = f.hidden_field :grid_weight
        = render :partial => 'shared/promotion_fields', 
                 :locals => { :f => f, :metros => @metros, :quantity => @promotion.quantity || Promotion::DEFAULT_QUANTITY, :share_pct => Promotion::DEFAULT_REVENUE_SHARE, :share_options => @promotion.revenue_share_options, :strategy => Promotion::DEFAULT_STRATEGY, :fixed_date => Time.zone.now.beginning_of_day, :default_period => RelativeExpirationStrategy::DEFAULT_PERIOD, :default_shipping => ProductStrategy::SHIP_OPTION, :delay_hours => Promotion::DEFAULT_DELAY }
