%h1 New Promotion
= form_for @promotion, :html => { multipart: true } do |f|
  = render :partial => 'shared/error_messages', :locals => { :errors => @promotion.errors, :name => 'Promotion' }
  -# Grid weight is validated, so it has to be in the form, but customers can't see it
  - if admin_user?
    .field
      = f.label :grid_weight
      = f.number_field :grid_weight, :min => 1
    .field
      = f.label :categories
      %br/
      = f.collection_select(:category_ids, Category.all, :id, :name, {}, { :multiple => true })
  - else
    = f.hidden_field :grid_weight
  = render :partial => 'shared/promotion_fields', :locals => { :f => f, :share_pct => Promotion::MINIMUM_REVENUE_SHARE }
