%h1= @promotion.title
- if @promotion.orders.empty?
  %h3 No orders
- else
  %table.table.zebra-striped
    %tr
      %th ID
      %th Date
      %th Cardholder
      %th Quantity
      %th Total
      %th Instructions
      %th Notes
    - @promotion.orders.order('updated_at desc').each do |order|
      %tr
        %td= order.id
        %td= order.created_at.try(:strftime, ApplicationHelper::DATE_FORMAT)
        %td== #{order.first_name} #{order.last_name}
        %td= order.quantity
        %td= number_to_currency(order.total_cost)
        %td= order.shipping_address
        %td= order.pickup_notes
