%h1== Comments on #{@promotion.title}
%br/
%ul== Proposed #{@promotion.created_at.try(:strftime, ApplicationHelper::DATE_FORMAT)}
%br/
- @logs.each do |log|
  %li
    %em= log.status 
    = log.created_at.try(:strftime, ApplicationHelper::DATE_FORMAT)
    &nbsp;&nbsp;
    %br/
    = log.comment
    %br/
