<p id="notice"><%= notice %></p>

<div id="image Gallery" >
	  
  <img width = "600px" src = "<%= @promotion.main_image %>" >


</div>
<br>
<p>
  <b>Title:</b>
  <%= @promotion.title %>
</p>

<table style="border: 0px" >
	<tr>
		<td >
		  <b>Retail value:</b>
			  <%= @promotion.retail_value %>
		</td>
		<td>
 		 <b>Price:</b>
  		<%= @promotion.price %></td>
		<td>
 		 <b>DISCOUNT:</b>
  		$<%= (@promotion.retail_value-@promotion.price) %></td>

  	</tr>
  </table>

<table style="border: 0px" >
	<tr>
		<td colspan="2">About This Deal</td>
	</tr>
	<tr>
		<td valign="top"  align="left" rowspan="6"><b>Description:</b>
	  <%= @promotion.description %></td>
	  </tr>
<Tr>
		<td>		  <b>Vendor:</b>
		  <%= @promotion.vendor.name %></td></tr>
		<tr><td>  <b>Quantity:</b>
		  <%= @promotion.quantity %></td></tr>
		<tr><td>  <b>Metro:</b>
		  <%= @promotion.metro_id %></td></tr>
		<tr><td>  <b>Start:</b>
		  <%= @promotion.start %></td></tr>
		<tr><td>  <b>End:</b>
		  <%= @promotion.end %></td></tr>

<tr>
		<td><h1><b>
	<% if @promotion.affiliate? %>
  		<%= link_to 'BUY IT from affiliate', @promotion.destination, :target => "_blank" %>	
	  <img width = "400px" src = "<%= @promotion.teaser_image %>" >
	
	<% else %>
  <%= link_to 'BUY IT', order_promotion_path(@promotion)%>	<br>
  <img width = "400px" src = "<%= @promotion.teaser_image %>" >

	<% end %>
  </h1></b>
			
		</td>
</tr>
<Tr>
	<td colspan=2>
		FINE PRINT:  
  <%= @promotion.limitations %>

		</td>
</Tr>
</table>






<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
