= render :partial => 'shared/flash_messages'
- if @promotion.ad?
  %h1= @promotion.title
  = link_to 'Go ahead, Visit ' + @promotion.vendor.name, @promotion.destination, :target => "_blank", :class => "button big round"
- else 
/ Local deal? or affilate (at the end of page)
- if @promotion.deal?
  = render :partial => "local_deal"
- else 
  = render :partial => "affiliate_deal"