.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :url
  = f.text_field :url
.field
  = f.label :facebook
  = f.text_field :facebook
.field
  = f.label :phone
  = f.text_field :phone
.field
  = f.label :address_1
  = f.text_field :address_1
.field
  = f.label :address_2
  = f.text_field :address_2
.field
  = f.label :city
  = f.text_field :city
.field
  = f.label :state
  = f.text_field :state
.field
  = f.label :zip
  = f.text_field :zip
.actions
  = f.submit
