.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :url
  = f.text_field :url
.field
  = f.label :facebook
  = f.text_field :facebook
.field
  = f.label :phone
  = f.text_field :phone, :maxlength => User::PHONE_LEN, :placeholder => '(412) 555-1212'
.field
  = f.label :address_1
  = f.text_field :address_1, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
.field
  = f.label :address_2
  = f.text_field :address_2, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
.field
  = f.label :city
  = f.text_field :city, :maxlength => ApplicationHelper::MAX_ADDRESS_LEN
.field
  = f.label :state
  = f.text_field :state, :maxlength => ApplicationHelper::STATE_LEN, :placeholder => 'PA'
.field
  = f.label :zip, 'Zipcode'
  = f.text_field :zip, :maxlength => ApplicationHelper::ZIPCODE_LEN
= button_tag 'Update mapping info from address', :class => "btn btn-large btn-success", :onclick => "update_vendor_mapping(); return false"
%br/
.field
  = f.label :latitude
  = f.text_field :latitude
.field
  = f.label :longitude
  = f.text_field :longitude
.actions
  = f.submit
