<h1>Listing vendors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Fbook</th>
    <th>Phone</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.name %></td>
    <td><%= vendor.url %></td>
    <td><%= vendor.fbook %></td>
    <td><%= vendor.phone %></td>
    <td><%= vendor.address_1 %></td>
    <td><%= vendor.address_2 %></td>
    <td><%= vendor.city %></td>
    <td><%= vendor.state %></td>
    <td><%= vendor.zip %></td>
    <td><%= link_to 'Show', merchant_vendor_path(vendor) %></td>
    <td><%= link_to 'Edit', edit_merchant_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', [:merchant, vendor], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vendor', new_merchant_vendor_path %>
