<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Url:</b>
  <%= @vendor.url %>
</p>

<p>
  <b>Fbook:</b>
  <%= @vendor.fbook %>
</p>

<p>
  <b>Phone:</b>
  <%= @vendor.phone %>
</p>

<p>
  <b>Address 1:</b>
  <%= @vendor.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @vendor.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @vendor.city %>
</p>

<p>
  <b>State:</b>
  <%= @vendor.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @vendor.zip %>
</p>


<%= link_to 'Edit', edit_merchant_vendor_path(@vendor) %> |
<%= link_to 'Back', merchant_vendors_path %>
