.row-fluid
  .span12.page-header
    %h1 Merchant payments <small>View your payments</small>
%h4= I18n.t('customer_service')
%table.table.zebra-striped
  %tr
    %th Promotion
    %th # Sold
    %th # Returned
    %th # Redeemed
    %th Total $
    %th Machovy Share
    %th Merchant Share
    %th Pickup/Delivery
  - @payment_data.each do |promotion_data|
    %tr
      %td= promotion_data[:title]
      %td= promotion_data[:sold]
      %td= promotion_data[:returned]
      %td= promotion_data[:redeemed]
      %td= number_to_currency(promotion_data[:total])
      %td= number_to_currency(promotion_data[:total] - promotion_data[:merchant_share])
      %td= number_to_currency(promotion_data[:merchant_share])
      - if promotion_data[:is_product]
        %td= link_to 'Show Orders', product_view_promotion_path(:id => promotion_data[:id])
      - else
        %td N/A
- if current_user.has_role?(Role::SUPER_ADMIN) and !@available_vouchers.empty?
  %h4 Available Vouchers   
  %table.table.zebra-striped
    %tr
      %th Date
      %th Promotion
      %th Total $
      %th ID
      %th Customer
      %th Notes
    - @available_vouchers.each do |voucher|
      %tr
        %td= I18n.l voucher.created_at, :format => :long
        %td= link_to voucher.order.promotion.title, promotion_path(voucher.order.promotion)
        %td= number_to_currency(voucher.order.total_cost)
        %td= voucher.uuid
        %td== #{voucher.order.first_name} #{voucher.order.last_name} (#{voucher.order.user.email})
        %td= voucher.notes
- if !@recent_vouchers.empty?
  %h4 Recent voucher redemptions        
  %table.table.zebra-striped
    %tr
      %th Date
      %th Promotion
      %th Total $
      %th ID
      %th Customer
    - @recent_vouchers.each do |voucher|
      %tr
        %td= I18n.l voucher.redemption_date, :format => :long
        %td= link_to voucher.order.promotion.title, promotion_path(voucher.order.promotion)
        %td= number_to_currency(voucher.order.total_cost)
        %td= voucher.uuid
        %td== #{voucher.order.first_name} #{voucher.order.last_name} (#{voucher.order.user.email})
%br/
%br/
%h4 Payment Summary
- if @vendor.payments.count > 0
  %table.table.zebra-striped
    %tr
      %th Check #
      %th Date
      %th Amount
    - @vendor.payments.each do |payment|
      %tr
        %th= payment.check_number
        %th= payment.check_date.try(:strftime, '%b %m, %Y')
        %th= number_to_currency(payment.amount)
%p== Total Paid #{number_to_currency(@vendor.total_paid)}
%p== Amount Owed #{number_to_currency(@vendor.amount_owed)}
- if current_user.has_role?(Role::SUPER_ADMIN)
  = link_to 'Create Payment', new_merchant_payment_path(:vendor_id => @vendor)
