!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "initial-scale=1, maximum-scale=1" }
  %meta{:name => 'viewport', :content => "width=device-width" }
  %title M A C H O V Y
  = favicon_link_tag 
  = javascript_include_tag "application"
  = javascript_include_tag "responsiveslides.min.js"
  = stylesheet_link_tag "bootstrap", media: "all", :debug => true
  = stylesheet_link_tag "bootstrap-responsive", media: "all", :debug => true
  = stylesheet_link_tag "jquery-ui-1.9.0.custom.css", media: "all", :debug => true
  = stylesheet_link_tag "admin-new", media: "all", :debug => true
  - if GOOGLE_MAPS_KEY.nil?
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
  - else
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAPS_KEY}&sensor=false".html_safe
  = csrf_meta_tags
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:300,400"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700"

  = render 'layouts/application/shim'
%body
  = render :partial => 'shared/admin_navigation'
#content
  = yield