!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
  %title M A C H O V Y
  = favicon_link_tag 
  = javascript_include_tag "application"
  = stylesheet_link_tag "app", media: "all", :debug => true
  - if GOOGLE_MAPS_KEY.nil?
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
  - else
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAPS_KEY}&sensor=false".html_safe
  = csrf_meta_tags

  = render 'layouts/application/shim'
%body
  = render :partial => 'shared/admin_navigation'
#content
  = yield