!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "initial-scale=1, maximum-scale=1" }
  %meta{:name => 'viewport', :content => "width=device-width" }
  %meta{:name => 'stripe-key', :content => STRIPE_PUBLIC_KEY }
  %meta{:name => 'description', :content => I18n.t('meta_description') }
  %meta{:name => 'fb:app_id', :content => "274942492605472"}
  %meta{:name => 'fb:admins', :content => "bastille"}
  %meta{:name => 'og:type', :content => "website"}
  - if !@promotion.nil?
    %meta{:name => 'og:image', :content => @promotion.teaser_image_url(:product_front_page).to_s}
    %meta{:name => 'og:title', :content => @promotion.title}
    %meta{:name => 'og:description', :content => @promotion.description }\

  %title M A C H O V Y
  = favicon_link_tag 
  = javascript_include_tag "application"
  = stylesheet_link_tag "foundation", media: "all", :debug => true
  = stylesheet_link_tag "app", media: "all", :debug => true
  = stylesheet_link_tag "bootstrap", media: "all", :debug => true
  = stylesheet_link_tag "bootstrap-responsive", media: "all", :debug => true
  = stylesheet_link_tag "application", media: "all", :debug => true
  = stylesheet_link_tag "jquery-ui-1.9.0.custom.css", media: "all", :debug => true
  = stylesheet_link_tag "main", media: "all", :debug => true
  = stylesheet_link_tag "responsive", media: "all", :debug => true
  = javascript_include_tag "https://js.stripe.com/v1/"
  - if GOOGLE_MAPS_KEY.nil?
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
  - else
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAPS_KEY}&sensor=false".html_safe
  = csrf_meta_tags
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:300,400"
  = render 'layouts/application/shim'
%body
  = render 'layouts/application/header'
  #main
    .container
      = yield
      %br/
      %br/
      %br/  
    = render 'layouts/application/footer'
