<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
<meta name="viewport" content="width=device-width"/>
    <title>M A C H O V Y</title>
	<meta name="description" content=""/>
	<meta name="author" content="trendyWebStar"/>
	<link rel="shortcut icon" href="favicon.png"/>


  <%= stylesheet_link_tag    "application", :media => "all", :debug => true%>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

  <%= csrf_meta_tags %>
      <%= yield :head %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33770108-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>


	<!--JS FILES STARTS-->
	<!-- JS FILES REMOVED FROM HERE>>>> MAKE SURE WE PUSH BACK-->

	<meta charset="UTF-8">
	
	<style type="text/css">
	body,td,th {
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	</style>
	</head>
	<body>
	<div id="top-panel-wrapper">
			<div class="container">
				<p>
					Put your awesome content here!
				</p>

			</div>
		</div>
		<div id="center-container">
			<div id="container">
				<header id="header">
				<div id="logo-wrapper">
					<a href="/" id="logo">
					<div class="logo"></div>
					</a>
				</div>
				<div id="navigation-wrapper">
					<nav id="main-navigation">
					<!--  MAIN  NAVIGATION-->
					<ul class="main-menu">
						<li><a href="index.html" title="Home">Deals & Interests </a>		
						<ul>
							<li><a href="inner-page.html">See all</a></li>

							</ul>
						</li>

						<li><a href="#">Lifestyle</a>
						<ul>
							<li><a href="inner-page.html">Meet the Machovy Girls</a></li>
							<li><a href="elements.html">Everything Cars</a></li>
							<li><a href="columns.html">Mens Fashion</a></li>
							<li><a href="fullwidth.html">Travel & Adventure</a></li>
							<li><a href="pricing-table.html">Toys</a></li>
						</ul>
							
						</li>
						<li><a href = "#">MEMBERS</a>
							<ul>
							<% if current_user.nil? %>
							<li>
								<%=link_to 'Log In', new_user_session_url %>
							</li>
							<li>
								<%=link_to 'Sign Up', '/users/sign_up' %>
							</li>

							<% else %>
							<li>
							<%=link_to 'Site Admin', '/SiteAdmin' %>
						</li>
						<li>

							<%=link_to 'Log Out', '/users/sign_out', :method => :delete %>
						</li>
							<% end %>	
						</li>
					</ul>
					</nav>
				</div>
				</header>

				
				
				
					  <%= yield %>
				<div id="footer-wrapper">
					<div id="footer">
						<div class="one-fourth">
							<h4>ABOUT machovy</h4>
							<p>
								Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur...
							</p>
							<p>
								Posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
							</p>
							<ul class="social-widget">
								<li class="twitter"><a href="#">Twitter</a></li>
								<li class="facebook"><a href="#">Facebook</a></li>
								<li class="rss"><a href="#">RSS feeds</a></li>
								<li class="dribbble"><a href="#">Dribbble</a></li>
								<li class="vimeo"><a href="#">Vimeo</a></li>
							</ul>
						</div>
						<div class="one-fourth">
							<h4>machovy now </h4>
							<ul class="blog-post-homepage">
								<li>
								<div class="blog-thumb">
									<a href="#"><img src="images/blog/blog-thumb-01.jpg" width="48" height="48" alt=" "/></a>
								</div>
								<div class="blog-short-content">
									<a href="#" class="colored">Meet the Machovy Girls</a>
									<p>
										 Lorem ipsum dolor sit amet, conta esta adipiscing elit
									</p>
								</div>
								</li>
							
								<li>
								<div class="blog-thumb">
									<a href="#"><img src="images/blog/blog-thumb-03.jpg" width="48" height="48" alt=" "/></a>
								</div>
								<div class="blog-short-content">
									<a href="#" class="colored">Article</a>
									<p>
										 Lorem ipsum dolor sit amet, conta esta adipiscing elit
									</p>
								</div>
								</li>
							</ul>
						</div>
						<div class="one-fourth">
							<h4>LATEST TWEETS</h4>
							<div class="twitter-feeds">
							</div>
						</div>
						<div class="one-fourth last">
							<h4>Merchants</h4>
							<div class="blog-short-content">

	                                <ul class="blog-post-homepage">
	                                <li>
									<div class="blog-short-content">
									<a href="#" class="colored">See what Machovy can do for your business</a>
	                         	</div>
								</li>

								<li>
								<div class="blog-short-content">
								<a href="#" class="colored">Merchant Login</a>
								  <%= render "layouts/application/header" %>
									<%= render "layouts/application/flash_messages" %>


															
																 
															<hr />						
																<a href = "/about">about machovy</a>&nbsp;|&nbsp;<a href="/merchants">merchants</a>
															<hr /> 									  



												 <a href="/videos">Video</a> 
									 <a href="/vouchers">My Vouchers</a> 


									 <a href="/member">Members Area</a>
								</div>
								</li>
									</ul>
							</div>
						</div>
					</div>
					<div id="copyrights-wrapper">
						<div id="copyrights">
							<div class="one-half">
								 Copyright &copy; 2012 Machovy Inc. All rights reserved.
							</div>
							<div class="one-half last">
								 Socialize with us on <a href="http://twitter.com/machovy">Twitter</a>, <a href="http://www.facebook.com/Machovy">Facebook</a>, or <a href="#">Rss</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--MAIN CONTAINER ENDS -->

		</div>
		<!--CENTER CONTAINER ENDS -->

	<!--WRAPPER ENDS -->
	</body>
	</html>