<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8">
    
	<title>M A C H O V Y</title>
	<link rel="shortcut icon" href="/favicon.png"/>
	<link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet' type='text/css'>
	
  	<%= stylesheet_link_tag    "application", :media => "all", :debug => true%>
	<!-- body should go away after we've moved in to proper css,etc -->
	<%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all", :debug => true%>
	<%= javascript_include_tag "https://js.stripe.com/v1/" %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>




	<body>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-plus"></span>
            </a>
            <!--<a class="brand" href="#"></a>-->
						<h1 class="main-logo">
							<a href="/">
	  						<%=image_tag  "logo.png", :class => "logo", :alt => "logo"%>
	  					</a>
						</h1>
            <div class="nav-collapse">
              <ul class="nav pull-right">
								<li>
									
								</li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
											Metro<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">PITTSBURGH</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <%= link_to 'Deals & Interests', deals_path %>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Lifestyle <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Meet the Machovy Girls</a></li>
                      <li><a href="#">Everything Cars</a></li>
                      <li><a href="#">Mens Fashion</a></li>
                      <li><a href="#">Travel & Adventure</a></li>
                      <li><a href="#">Toys</a></li>
                    </ul>
                  </li>
									
  						<% if current_user.nil? %>
                <li class="dropdown pull-right">
  								<%=link_to 'SIGN IN', new_user_session_path %> 
								</li>
                <li class="dropdown pull-right">
									<%=link_to 'SIGN UP', new_user_registration_path %>
								</li>
  						<% else %>
					
  						<% if current_user.has_role?(Role::MERCHANT)%>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"
											>MERCHANT <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%=link_to 'MY DEALS', promotions_path %></li>
                      <li><%=link_to 'REPORTS', reports_merchant_vendor_path(current_user.vendor) %></li>
                      <li><%=link_to 'PAYMENTS', payments_merchant_vendor_path(current_user.vendor) %></li>
                    </ul>
                  </li>
  						<%else%>
                <li class="dropdown">
									<%=link_to 'MY VOUCHERS', merchant_vouchers_path %>
								</li>
  						<%end%>

 
<<<<<<< HEAD
  					<% if admin_user? %>
=======
  						<% if current_user.has_role?(Role::SUPER_ADMIN)%>
>>>>>>> Updated front page design/layout
	                <li class="dropdown">
	                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
												ADMIN <b class="caret"></b>
											</a>
	                    <ul class="dropdown-menu">
	                      <li><%=link_to 'Site Admin', '/SiteAdmin' %></li>
	                      <% if current_user.has_role?(Role::SUPER_ADMIN) %>
	                        <li><%=link_to 'Rails Admin',rails_admin_path %></li>
	                      <% end %>
	                    </ul>
	                  </li>
					  	<%end%>
	                  <li class="dropdown">
	  									<%=link_to 'LOG OUT', destroy_user_session_path, :method => :delete %>
	  								</li>
  						<% end %>	
              </ul>
					  
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
	  
      <div class="container main">
        <div class="row-fluid">
          <div class="span7">
              <p class="sub-headline">If you think it's awesome <br/>chances are we already found it...</p>
			  <%= render "layouts/application/header" %>
				<%= render "layouts/application/flash_messages" %>
			  
          </div><!--span7 -->
        </div> <!--row-fluid -->
      
  	    <br/>

		<%= yield %>
		
		<Br/>
		<Br/>
		<Br/>
		
		

		<div class="row-fluid footer">
		           <div class="span3">
					   <h4>Machovy</h4>
		               <ul>
		                   <li><%= link_to "Company Info", about_path %></li>
		                   <li><%= link_to "Careers", positions_path %></li>
		                   <li><a href="#">FAQ</a></li>
		                   <li><a href="#">Terms and condition</a></li>
		               </ul>
					   
		           </div>
		           <div class="span3">
					   <h4>Social</h4>
		               <ul>
		                   <li>
		                       		                   </li>
		                   <li><a href="http://twitter.com/machovy">Twitter</a></li>
		                   <li><a href="http://www.facebook.com/Machovy">Facebook</a></li>
		               </ul>
		               <p></p>
		           </div>
		           <div class="span3">
		               <h4>Other Content</h3>
		               <ul>
		                   <li><a href="#">Lorem ipsum</a></li>
		                   <li><a href="#">Lorem ipsum dolor sit amet</a></li>
		                   <li><a href="#">Lorem ipsum</a></li>
		                   <li><a href="#">Lorem ipsum dolor sit amet</a></li>
		               </ul>
		           </div>
		           <div class="span3">
		               <h4>Merchants</h4>
		             
					 Do you have a product or service that are readers must have?  Do you want access to the most interesting audience on the internet?	<a href="/merchants">Learn more...</a><br/>
					<%=link_to 'Create a Merchant account', new_user_registration_path(:merchant => true) %> 
					 
					 
		           </div>
		         </div>
		
		
		
		
  	</div> <!-- /container main -->
  	<div class="container copyright">
           <p>&copy; Machovy 2012. All right reserved.</p>
  	</div>
  	<br/><br/>
		

										
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33770108-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	
	</body>
	</html>
