!!!
%head
  %meta{:content => 'text/html', :charset => 'UTF-8', 'http-equiv' => 'Content-Type'}
  %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0" }
  %meta{:name => 'description', :content => I18n.t('meta_description') }
  %meta{ :property => "fb:app_id", :content => "274942492605472"}
  %meta{ :property => "fb:admins", :content => "bastille"}
  %meta{ :property => "og:url", :content => "https://#{request.host+request.fullpath}".to_s }
  %meta{ :property => 'og:type', :content => "website"}
  - if !@promotion.nil?
    %meta{ :property => 'og:image', :content => @promotion.teaser_image_url(:product_front_page).to_s}
    %meta{ :property => 'og:title', :content => @promotion.title}
    %meta{ :property => 'og:description', :content => @promotion.description}
  - else
    %meta{ :property => 'og:image', :content => request.protocol + request.host_with_port + path_to_image("logo.png")}
    %meta{ :property => 'og:title', :content => "Machovy.com"}
    %meta{ :property => 'og:description', :content => "Deals.  No Limits."}
  %title Machovy
  = favicon_link_tag 
  = javascript_include_tag "application"
  // = javascript_include_tag "plugins/toggler.js"
  = stylesheet_link_tag "app", media: "all", :debug => true
  - if GOOGLE_MAPS_KEY.nil?
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
  - else
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAPS_KEY}&sensor=false".html_safe
  = csrf_meta_tags
  = render 'layouts/application/shim'
%body
  = render 'layouts/application/header'
  = yield 
  = render 'layouts/application/footer'
  :javascript
    document.write('<script src=' +
    ('__proto__' in {} ? '/assets/libs/zepto' : 'jquery') +
    '.js><\/script>')
  = javascript_include_tag "plugins/jquery.backstretch.min.js"
  = javascript_include_tag "plugins/prefixfree.min.js"
  = javascript_include_tag "plugins/jquery.toolbar.min.js"
  = javascript_include_tag "plugins/jquery.stickyFooter.js"

  
  
  
