<h1>Listing vouchers</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Redemption date</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Expiration date</th>
    <th>Issue date</th>
    <th>Promotion</th>
    <th>Order</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vouchers.each do |voucher| %>
  <tr>
    <td><%= voucher.uuid %></td>
    <td><%= voucher.redemption_date %></td>
    <td><%= voucher.status %></td>
    <td><%= voucher.notes %></td>
    <td><%= voucher.expiration_date %></td>
    <td><%= voucher.issue_date %></td>
    <td><%= voucher.promotion_id %></td>
    <td><%= voucher.order_id %></td>
    <td><%= voucher.user_id %></td>
    <td><%= link_to 'Show', voucher %></td>
    <td><%= link_to 'Edit', edit_voucher_path(voucher) %></td>
    <td><%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voucher', new_voucher_path %>
