<p id="notice"><%= notice %></p>

<p>
  <b>Uuid:</b>
  <%= @voucher.uuid %>
</p>

<p>
  <b>Redemption date:</b>
  <%= @voucher.redemption_date %>
</p>

<p>
  <b>Status:</b>
  <%= @voucher.status %>
</p>

<p>
  <b>Notes:</b>
  <%= @voucher.notes %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @voucher.expiration_date %>
</p>

<p>
  <b>Issue date:</b>
  <%= @voucher.issue_date %>
</p>

<p>
  <b>Promotion:</b>
  <%= @voucher.promotion_id %>
</p>

<p>
  <b>Order:</b>
  <%= @voucher.order_id %>
</p>

<p>
  <b>User:</b>
  <%= @voucher.user_id %>
</p>
<p>
  <b>Voucher QR:</b>
	<img src = "<%=url_for @voucher %>.png">
	<%# FIX THIS SO WE SEND IT :format to URL_FOR %>
</p>


<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
